// window
.window
  .shell
    .container
      .range
        .window-wrapper

          .window-esscence-left
            .window-esscence-left-wrapper
              .window-esscence-logo
                svg.window-esscence-logo-icon#window-esscence-logo(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 255.8 69', style='enable-background:new 0 0 255.8 69;', xml:space='preserve')
                    style(type='text/css').
                      .st0{fill:#FFFFFF;}
                      .st1{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
                      .st2{fill:#8B8B8B;}
                      .st3{font-family:'Unique';}
                      .st4{font-size:55.0121px;}
                      .st5{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
                    g
                      path.st0(d='M16.5,18.4v33.4l4.7-4.6V23L16.5,18.4z M46.4,23v24.2l4.7,4.6V18.4L46.4,23z M36.4,47.7V22.5h9.4l4.7-4.7H17.1\
                      l4.7,4.7h10v25.2h-10l-4.7,4.6h33.4l-4.7-4.6H36.4z M34.5,35.1l1.9,1.9v-3.7L34.5,35.1z')
                      line.st1(x1='28.7', y1='26', x2='22.2', y2='32.5')
                      line.st1(x1='29.3', y1='28.6', x2='22.8', y2='35.1')
                      line.st1(x1='30.3', y1='31.2', x2='23.8', y2='37.8')
                    path.st2(d='M33.8,35.1')
                    text.st0.st3.st4(transform='matrix(1 0 0 1 76.8978 53.3078)') NiMax+
                    circle.st5(cx='34.5', cy='34.5', r='33.5')
              .window-esscence-left-shell-wide
                .window-esscence-overtitle
                  .window-esscence-overtitle-text Авторизированный партнёр
                  .window-esscence-overtitle-logo
                .window-esscence-title Металлопластиковые окна и двери Rehau в Киеве.
                .window-esscence-order-form
                  input.window-order-form__name.window-order-form__field(placeholder="Имя")
                  input.window-order-form__phone.window-order-form__field(placeholder="Телефон")
                  button.window-order-form__btn-order(type='submit')
                    span.window-order-form__btn-order-helper
                    span.window-order-form__btn-order-text Заказать


                a.window-esscence-arrow#invoke_modal(href="#")

          .window-esscence-right
            .window-esscence-right__menu
              ul.window-esscence__menu-list
                li.window-esscence__menu-item
                  a.window-esscence__menu-link(href="javascript:void(0)") окна
                li.window-esscence__menu-item
                  a.window-esscence__menu-link(href="javascript:void(0)") двери
                li.window-esscence__menu-item
                  a.window-esscence__menu-link(href="javascript:void(0)") балконы
                li.window-esscence__menu-item
                  a.window-esscence__menu-link(href="javascript:void(0)") отзывы
                li.window-esscence__menu-item
                  a.window-esscence__menu-link(href="javascript:void(0)") контакты
            .window-esscence-right__container
              //- .window-esscence-right__outside
              //- .window-esscence-right__inside

// window end
