// window
.window
  .shell
    .container
      .range
        .window-wrapper

          .window-esscence-left
            .window-esscence-logo
            .window-esscence-overtitle
            .window-esscence-title
            .window-esscence-order-form
              .window-order-form__name
              .window-order-form__phone
              .window-order-form__btn-order
            .window-esscence-arrow

          .window-esscence-right
            .window-esscence-right__menu
              ul.window-esscence__menu-list
                li.window-esscence__menu-item
                  a.window-esscence__menu-link
                li.window-esscence__menu-item
                  a.window-esscence__menu-link
            .window-esscence-right__container
              .window-esscence-right__outside
              .window-esscence-right__inside

// window end
