//- === scheme ===================================
.choose-content__scheme

  .choose-scheme__intro
    //- title
    .choose-scheme__title Окна ПВХ - профиль и его изготовление

    //- article
    .choose-scheme__article
      .choose-scheme__text.redline
        img.choose-about__img--right(src='img/choose-scheme-img.jpg')
        | На протяжении многих лет фаворитом является <strong>профиль из ПВХ</strong> (поливинилхлорид). На сегодняшний день это самый практичный материал с точки зрения защиты от конденсации влаги, тепло- и звукоизоляции. Кроме того <strong>профиль из ПВХ</strong>- прочный, долговечный, красивый и недорогой. В зависимости от конструкции профиль из ПВХ имеет внутри несколько камер, в основном более распространенными являются трехкамерный и пятикамерный профиль. В одной из камер располагается армирующий профиль, как правило это П-образный профиль изготовленный из оцинкованного металла 1,4 мм. Отсюда и происходит название <strong>металлопластиковые окна</strong>. Качественное металлопластиковое окно никогда не разбухнет от влаги, не рассохнется и не покоробится на солнце.
      .choose-scheme__text
        | Окно из металлопластика имеет привлекательный внешний вид и отличается долговечностью. Металлопластик устойчив к перепадам температур, высокой влажности и большим ветровым нагрузкам. В любое время года окно из ПВХ легко открывается и закрывается, что дает возможность впустить в помещение свежий воздух. В случае пожара, качественное окно из ПВХ при возгорании сразу затухает, не выделяя вредных для здоровья человека газов.
      .choose-scheme__text
        | ПВХ - это искусственный термоустойчивый материал, открытый еще в 1835 году. Производится он из природного сырья - поваренной соли и нефти. Использовать профиль из ПВХ для изготовления металлопластиковых окон начали в 1954 году, и до сих пор он является самым популярным материалом в этой отрасли, благодаря своей устойчивости к погодным условиям и долговечности.
      .choose-scheme__text
        | Из ПВХ методом экструзии производят оконный профиль. Выглядит этот процесс следующим образом: ПВХ вместе с добавками (стабилизаторы, смягчители, наполнители, пластификаторы) нагревают до получения однородной вязкой массы. Ее продавливают через специальные формы и охлаждают. В итоге получается пустотелый профиль из ПВХ, внутри которого находятся перемычки, образующие воздушные камеры. Исходя из этого окна из металлопластика классифицируют на трекамерную, четырехкамерную и пятикамерную профильную систему. Именно благодаря многокамерности, пластиковые окна обладают теплозащитой и звукоизоляцией. Чем больше количество камер в металлопластиковом окне, тем выше у него коэффициент сопротивления теплопередаче Rо (измеряемый в м2 °С/Вт ). Чем выше этот коэффициент, (т.е. ближе к 1,0) тем лучше окно из металлопластика по характеристикам сохранения тепловой энергии.
      .choose-scheme__text
        | Вроде бы простой процесс, но возникает вопрос - почему окно из ПВХ имеет разную стоимость?  Ну во первых, цена на металлопластиковые окна формируется из нескольких показателей. В основном на стоимость окна из металлопластика влияет из какой системы оконного профиля окно изготовлено из трекамерной, четырехкамерной или пятикамерной. Также на цену пластиковых окон во многом влияют и добавки. Для изготовления оконного профиля используется более десятка дорогостоящих компонентов. Их наличие в готовом профиле из ПВХ визуально определить невозможно, поэтому многие производители на этих добавках экономят. Например, если в состав профиля добавлен некачественный оксид титана (а его очистка требует немалых затрат), который отвечает за сохранение белого цвета, то через год-два окна пожелтеют. К добавкам также относятся модификатор ударопрочности, комплексные  стабилизаторы, гидрофобный  мел. Так же для стабилизации пластика (сохранение белого цвета) многие компании производители используют свинец,  некоторые оконные профиля не содержат свинец, такие пластиковые окна являются экологически чистыми.

  .choose-scheme__advantages
    //- title
    h3.choose-scheme__title Преимущества пластиковых окон
    //- 1
    .choose-scheme__text
      | <strong>Энергосбережение. Профиль из ПВХ</strong> очень плохой теплопроводник с многокамерной конструкцией, наполненной воздухом. Система  резиновых уплотнителей исключает продувание. Дополнительное сохранение тепла в <strong>пластиковых окнах</strong> обеспечивает использование в стеклопакете энергосберегающего стекла.
    //- 2
    .choose-scheme__text
      | <strong>Герметичность и звукоизоляция.</strong> Благодаря конструкции <strong>оконного профиля - металлопластиковые окна</strong> защищены от шума, попадания пыли и влаги.
    //- 3
    .choose-scheme__text
      | <strong>Эстетика.</strong> Широкий ассортимент <strong>оконных профилей</strong> позволяет воссоздать любые декоративные элементы окон разных стилей и эпох. Богатая цветовая гамма путем ламинирования <strong>оконного профиля</strong> придадут <strong>пластиковым окнам</strong> текстуру и цвет различных пород дерева.
    //- 4
    .choose-scheme__text
      | <strong>Эстетика.</strong> Широкий ассортимент <strong>оконных профилей</strong> позволяет воссоздать любые декоративные элементы окон разных стилей и эпох. Богатая цветовая гамма путем ламинирования <strong>оконного профиля</strong> придадут <strong>пластиковым окнам</strong> текстуру и цвет различных пород дерева.
    //- 5
    .choose-scheme__text
      | <strong>Долговечность.</strong> В Западной Европе некоторым окнам из металлопластика уже 50 лет, но тем не менее, они сохранили механические свойства и цвет.
    //- 6
    .choose-scheme__text
      | <strong>Удобство использования.</strong> При правильной эксплуатации <strong>металлопластиковые окна</strong> не нуждаются в ремонте и покраске. Различные способы открывания окон облегчают проветривание, а гладкая поверхность - мытье.
    //- 7
    .choose-scheme__text
      | <strong>Экологичность.</strong> Из ПВХ в Германии изготовляют даже сосуды для хранения донорской крови и плазмы, так как твердый ПВХ является химически инертным веществом.
      section.choose-scheme__reference
        .subtitle Для сравнения:
        .section-text При повышении температуры на 30 °С при длине оконного профиля 2300 мм расширение составит:

        .section-text
         | СОСНА - 2300,023 мм<br>
         | АЛЮМИНИЙ - 2301,643 мм<br>
         | ПВХ - 2305,52 мм

        .section-text
          | Характеристики*:

        .section-extra
          | *Дані отримані з експертного висновку ift Rosenheim.<br>
          | **Коефіцієнт опору теплопередачі профілю R f отримано розрахунковим шляхом як величину, обернено пропорційну до Uf.
