//- === scheme ===================================
.choose-content__scheme
  //- logo
  .choose-scheme__logo
    .choose-scheme__logo-img
    .choose-scheme__logo-title Создано в Германии

  //- details
  .choose-scheme__details
    .choose-details__left-list
      ul
        li.choose-scheme__details__list-item Ширина профиля 70 мм
        li.choose-scheme__details__list-item Возможность применения  скрытой и открытой систем отвода конденсата ПРЕСТИЖ
        li.choose-scheme__details__list-item Высота наплава – 25мм

    .choose-details__center-figure

    .choose-details__right-list
      ul
        li.choose-scheme__details__list-item Армирование профиля – 1,5мм
        li.choose-scheme__details__list-item Область применения от&nbsp;+75&nbsp;С&nbsp;до&nbsp;-55&nbsp;С
        li.choose-scheme__details__list-item Возможность установки стеклопакета шириной до 42мм
        li.choose-scheme__details__list-item Воздушных камер – 5


  //- advantages
  .choose-advantages
    //- item 01
    .choose-advantages__item
      .choose-adv__item-img
      .choose-adv__item-title Гарантия 10 лет
    //- item 02
    .choose-advantages__item
      .choose-adv__item-img
      .choose-adv__item-title Долговечность
    //- item 03
    .choose-advantages__item
      .choose-adv__item-img
      .choose-adv__item-title Теплоизоляция
    //- item 04
    .choose-advantages__item
      .choose-adv__item-img
      .choose-adv__item-title Звукоизоляция
    //- item 05
    .choose-advantages__item
      .choose-adv__item-img
      .choose-adv__item-title ЭКО

//- === params ===================================
.choose__params
  .choose__params__left.choose__params__column
    .choose__params__title Характеристики системы
    ul.choose__params-list
      //- list ITEM
      li.choose__params-item
        .choose__params-text Теплоизоляция
        .choose__ball-container.colored_to-8.colored--yellow
          .choose__ball 1
          .choose__ball 2
          .choose__ball 3
          .choose__ball 4
          .choose__ball 5
          .choose__ball 6
          .choose__ball 7
          .choose__ball 8
          .choose__ball 9
          .choose__ball 10
          .choose__ball 11
          .choose__ball 12
      //- list ITEM
      li.choose__params-item
        .choose__params-text Шумоизоляция
        .choose__ball-container.colored_to-8.colored--red
          .choose__ball 1
          .choose__ball 2
          .choose__ball 3
          .choose__ball 4
          .choose__ball 5
          .choose__ball 6
          .choose__ball 7
          .choose__ball 8
          .choose__ball 9
          .choose__ball 10
          .choose__ball 11
          .choose__ball 12
      //- list ITEM
      li.choose__params-item
        .choose__params-text Долговечность
        .choose__ball-container.colored_to-8.colored--green
          .choose__ball 1
          .choose__ball 2
          .choose__ball 3
          .choose__ball 4
          .choose__ball 5
          .choose__ball 6
          .choose__ball 7
          .choose__ball 8
          .choose__ball 9
          .choose__ball 10
          .choose__ball 11
          .choose__ball 12

  .choose__params__right.choose__params__column
    .choose__params__title Цвета системы
    .choose__params__colors-wrapper
      .choose__params__colors
        ul#choose-colors
          li.choose__colors__item.choose__colors__item--first
          li.choose__colors__item.choose__colors__item--second
          li.choose__colors__item.choose__colors__item--third
          li.choose__colors__item.choose__colors__item--fourth
      .choose__params__colors-controls
        .choose__colors-controls__left
        .choose__colors-controls__right


//- === btn ===================================
a.choose-btn-calc Рассчитать систему


//- === description ===================================
.choose-desc
  p.choose-desc__text
    | ARtec EFFECTIV новый высокотехнологичный профиль, предназначенный удовлетворить требования даже самых северных регионов. За счет оптимального расположения и размера воздушных камер, достигнут высочайший уровень термо- и звукоизоляции. Толщина лицевых стенок профиля составляет 3 мм (класс А), что позволяет окнам выдерживать сильные температурные перепады и быть долговечными!

//- === awards ===================================
.choose-awards#choose-awards-fancy
  .choose-awards__item
    a.gallery__full(href="img/002_awards-01.png")
      img(src="img/002_awards-01.png")
  .choose-awards__item
    a.gallery__full(href="img/002_awards-01.png")
      img(src="img/002_awards-01.png")
  .choose-awards__item
    a.gallery__full(href="img/002_awards-01.png")
      img(src="img/002_awards-01.png")
  .choose-awards__item
    a.gallery__full(href="img/002_awards-01.png")
      img(src="img/002_awards-01.png")
  .choose-awards__item
    a.gallery__full(href="img/002_awards-01.png")
      img(src="img/002_awards-01.png")

//- === about ===================================
.choose-about
  img.choose-about__img(src="img/002_choose-about__img.jpg")
  p.choose-about__text
    | Немецкая компания ARtec - одна из старейших фирм на рынке ПВХ Казахстана и стран СНГ.<br>
    | С 1995 года продукция ARtec востребована среди производителей оконных систем, что позволяет уверенно смотреть в будущее.<br>
    | В любое время года окна из профилей ARtec радуют миллионы покупателей от крайнего севера до субтропического юга.
  p.choose-about__text
    | Компания ARtec уверенно гарантирует своим партнёрам разнообразнейший ассортимент комплектующих для производства окон, дверей, фасадных конструкций европейского качества. На всю продукцию, надлежащую сертификации, имеются сертификаты Германии, России и Украины. Фирма ARtec уверенно идет вперед, постоянно расширяя сеть своих представительств, являясь сегодня одним из самых передовых поставщиков оконных технологий во многих странах.

//- === btn-calc-btm ===================================
.choose-calc-btm
  .choose-calc-btm__divider
  a.choose-btn--bottom Рассчитать систему
