// features
section.features
  .shell
    .container
      .range


        //- title
        h2.features-title Лучший производитель пластиковых окон Алматы
        hr.divider

        //- content block
        .features-content


        .features__item__row
          .row__items
            //- item 01
            .features__item-container.js-feature-item(data-more-container="1")
              .features-smoothy(data-more-smoothy="1")
                img(src="img/features-smoothy-01.jpg")
                img(src="img/features-smoothy-02.png")
              .features__item
                .features__item__foreground
                  .features__item__icon
                    //- +svg([{'class': 'icon-features svg-icon', 'pathid': 'svg-features-item', 'filename':'features-item-icon01'}])
                    svg.icon-features#svg-features-item(fill='#1F587D' version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 81.334 87.258', enable-background='new 0 0 81.334 87.258', xml:space='preserve')
                      g
                        defs
                          rect#SVGID_1_(width='81.334', height='87.258')
                        path(class='icon-element--main' clip-path='url(#SVGID_2_)', d='M72,35.401h7.334c1.105,0,2,0.895,2,2v47.857c0,1.105-0.895,2-2,2H72\
                        c-1.105,0-2-0.895-2-2V37.401C70,36.296,70.895,35.401,72,35.401')
                        path(class='icon-element--main' clip-path='url(#SVGID_2_)', d='M54.666,54.726H62c1.105,0,2,0.896,2,2v28.532c0,1.105-0.895,2-2,2h-7.334\
                        c-1.105,0-2-0.895-2-2V56.726C52.666,55.621,53.561,54.726,54.666,54.726')
                        path(class='icon-element--main' clip-path='url(#SVGID_2_)', d='M37,64.389h7.334c1.105,0,2,0.896,2,2v18.869c0,1.105-0.895,2-2,2H37\
                        c-1.105,0-2-0.895-2-2V66.389C35,65.284,35.895,64.389,37,64.389')
                        path(class='icon-element--main' clip-path='url(#SVGID_2_)', d='M19.5,74.052h7.334c1.105,0,2,0.896,2,2v9.206c0,1.105-0.895,2-2,2H19.5\
                        c-1.105,0-2-0.895-2-2v-9.206C17.5,74.947,18.395,74.052,19.5,74.052')
                        path(class='icon-element--main' clip-path='url(#SVGID_2_)', d='M1,84.521h9.334c0.552,0,1,0.448,1,1v0.737c0,0.552-0.448,1-1,1H1\
                        c-0.552,0-1-0.448-1-1v-0.737C0,84.969,0.448,84.521,1,84.521')
                        path(class='icon-element--main' clip-path='url(#SVGID_2_)', d='M61.615,51.511c-1.938,0.139-3.741-0.414-3.741-0.414s0-1.244-0.831-2.073\
                        c-0.831-0.83-0.276-7.048-0.416-9.951c-0.139-2.901-7.204-7.462-8.312-9.121c-1.109-1.658-1.524,0,0-6.219\
                        c1.523-6.219-0.693-10.642-1.664-12.023c-0.969-1.382-2.909-2.902-0.831-2.488c2.079,0.415,2.356,0,2.079-1.244\
                        s0.416-1.658,0.416-1.658s1.523-0.415,0.416-1.244C47.623,4.246,47.9,1.344,47.9,1.344s0.692-0.691-2.91-1.243\
                        c-3.602-0.553-5.127,1.243-4.987,3.731c0.139,2.488,1.246,3.731,1.246,3.731s-1.938,1.935-3.74,6.219\
                        c-1.801,4.284-1.108,20.04-0.832,21.975C37.371,36.724,38.755,37,38.755,37s1.108,8.43,1.248,12.438\
                        c-5.542,7.188-4.987,12.022-4.987,12.022h0.414c0,0-0.277,0.968,0.416,1.658c0.693,0.69,2.909,0.415,2.909,0.415l0.832-0.829\
                        c0,0,3.325,1.936,6.234,1.657c2.91-0.274,3.188-2.072,1.662-2.072c-1.522,0-4.156-1.242-4.156-1.242s0-1.245-0.831-2.488\
                        c0.14-3.317,4.156-9.536,4.156-9.536V38.658l4.157,4.975l0.832,10.366l0.416,0.414c0,0-0.14-0.138-0.416,0.829\
                        c1.802,0.829,3.741-0.553,4.571-1.243c0.831-0.69,4.019,0.414,5.819-0.828C63.832,51.926,63.556,51.372,61.615,51.511')
                        path(class='icon-element' clip-path='url(#SVGID_2_)', d='M12,13.401c5.514,0,10,4.486,10,10s-4.486,10-10,10s-10-4.486-10-10\
                        S6.486,13.401,12,13.401 M12,11.401c-6.627,0-12,5.373-12,12s5.373,12,12,12s12-5.373,12-12S18.627,11.401,12,11.401 M17.848,23.86\
                        c0.202,0.038,0.202,0.333,0.001,0.372c-1.907,0.361-6.045,1.111-6.547,1.111c-0.719,0-1.301-0.582-1.301-1.301\
                        c0-0.512,0.77-5.447,1.125-7.445c0.034-0.192,0.312-0.181,0.343,0.014l0.985,6.238L17.848,23.86z')
                  .features__item__title
                    h3.features__item__title__text 18 лет на рынке
                  .divider--item
                  a.features__btn.js-more(href="#" data-more-num="1") Больше
                //- .features__item__more

            hr.vdivider
            //- extra 01
            i.extra__item.js-extra(href="#" data-more-option="1")
              p 11 Все большее число зданий в Алматы и других городах Казахстана украшают не традиционные деревянные, а пластиковые окна. И дело не столько в их внешней эстетике (хотя и она, несомненно, сыграла важную роль!), сколько в выдающихся эксплуатационных характеристиках и удобстве использования. Так, конструкции из дерева приходится регулярно подкрашивать, так как влага разрушает лак и краску. Стеклопакеты же вовсе не требуют сложного ухода! Им достаточно периодически устраивать влажную уборку, чтобы они сохранили презентабельный вид на 20-30 лет.

            //- item 02
            .features__item-container.js-feature-item(data-more-container="2")
              .features-smoothy(data-more-smoothy="2")
                img(src="img/features-smoothy-01.jpg")
                img(src="img/features-smoothy-02.png")
              .features__item
                .features__item__foreground
                  .features__item__icon
                    //- +svg([{'class': 'icon-features svg-icon', 'pathid': 'svg-features-item', 'filename':'features-item-icon02'}])
                    svg.icon-features#svg-features-item(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 22 24', enable-background='new 0 0 22 24', xml:space='preserve')
                      g
                        defs
                          rect#SVGID_1_(width='22', height='24')
                        path(class='icon-element' clip-path='url(#SVGID_2_)', d='M5,18c1.122,0,2.171-0.185,3.025-0.483c0.031-0.523,0.113-1.032,0.241-1.525\
                        C7.275,16.324,6.127,16.5,5,16.5c-1.891,0-3.854-0.484-5-1.402v0.652C0,16.993,2.328,18,5,18')
                        path(class='icon-element--main' clip-path='url(#SVGID_2_)', d='M12.008,11.078c0.581-0.337,1.207-0.6,1.868-0.783\
                        C12.744,10.072,11.713,9.669,11,9.098V9.75C11,10.249,11.386,10.705,12.008,11.078')
                        path(class='icon-element--main' clip-path='url(#SVGID_2_)', d='M19.993,11.078C20.614,10.705,21,10.249,21,9.75V9.098\
                        c-0.714,0.571-1.744,0.974-2.876,1.197C18.785,10.478,19.412,10.741,19.993,11.078')
                        path(class='icon-element--main' clip-path='url(#SVGID_2_)', d='M16,9.5c2.673,0,5-1.007,5-2.25V6.599C19.854,7.516,17.892,8,16,8\
                        c-1.891,0-3.854-0.484-5-1.401V7.25C11,8.493,13.328,9.5,16,9.5')
                        path(class='icon-element--main' clip-path='url(#SVGID_2_)', d='M16,7c2.673,0,5-1.007,5-2.25V4.098C19.854,5.016,17.892,5.5,16,5.5\
                        c-1.891,0-3.854-0.484-5-1.402V4.75C11,5.993,13.328,7,16,7')
                        path(class='icon-element' clip-path='url(#SVGID_2_)', d='M5,21.5c-1.891,0-3.854-0.484-5-1.402v0.652C0,21.993,2.328,23,5,23\
                        c1.656,0,3.177-0.388,4.096-0.978c-0.211-0.36-0.394-0.739-0.547-1.134C7.499,21.289,6.236,21.5,5,21.5')
                        path(class='icon-element--main' clip-path='url(#SVGID_2_)', d='M15.999,12c-3.313,0-6,2.688-6,6c0,3.313,2.687,6,6,6c3.313,0,6-2.687,6-6\
                        C21.999,14.688,19.313,12,15.999,12 M17.944,17.764h-1.423v2.607h-1.043v-2.607h-1.423v-0.854h3.889V17.764z M17.944,16.482h-1.423\
                        h-1.043h-1.423v-0.854h3.889V16.482z')
                        path(class='icon-element' class='icon-element' clip-path='url(#SVGID_2_)', d='M5,20.5c1.222,0,2.358-0.218,3.246-0.565c-0.111-0.443-0.185-0.9-0.218-1.369\
                        C7.094,18.849,6.039,19,5,19c-1.891,0-3.854-0.484-5-1.401v0.651C0,19.493,2.328,20.5,5,20.5')
                        path(class='icon-element' clip-path='url(#SVGID_2_)', d='M5,11c-2.672,0-5,1.007-5,2.25s2.328,2.25,5,2.25\
                        c1.445,0,2.775-0.301,3.705-0.769c0.311-0.689,0.714-1.328,1.198-1.898C9.453,11.79,7.364,11,5,11 M5.957,13.055h-0.85l-0.568,1.56\
                        H3.916l0.567-1.56h-0.85l0.186-0.51h2.323L5.957,13.055z M6.234,12.29h-0.85H4.761h-0.85l0.185-0.51H6.42L6.234,12.29z')
                        path(class='icon-element--main' clip-path='url(#SVGID_2_)', d='M16,0c-2.672,0-5,1.007-5,2.25c0,1.243,2.328,2.25,5,2.25\
                        c2.674,0,5-1.007,5-2.25C21,1.007,18.674,0,16,0 M16.956,2.055h-0.85l-0.568,1.558h-0.623l0.567-1.558h-0.85l0.186-0.51h2.323\
                        L16.956,2.055z M17.234,1.29h-0.85h-0.623h-0.851l0.186-0.51h2.323L17.234,1.29z')

                  .features__item__title
                    h3.features__item__title__text Конкурентные цены
                  .divider--item
                  a.features__btn.js-more(href="#" data-more-num="2") Больше
                //- .features__item__more
            //- extra 02
            i.extra__item.js-extra(href="#" data-more-option="2")
              p 22 Все большее число зданий в Алматы и других городах Казахстана украшают не традиционные деревянные, а пластиковые окна. И дело не столько в их внешней эстетике (хотя и она, несомненно, сыграла важную роль!), сколько в выдающихся эксплуатационных характеристиках и удобстве использования. Так, конструкции из дерева приходится регулярно подкрашивать, так как влага разрушает лак и краску. Стеклопакеты же вовсе не требуют сложного ухода! Им достаточно периодически устраивать влажную уборку, чтобы они сохранили презентабельный вид на 20-30 лет.


        .features__item__row
          .row__items
            //- item 03
            .features__item-container.js-feature-item(data-more-container="3")
              .features-smoothy(data-more-smoothy="3")
                img(src="img/features-smoothy-01.jpg")
                img(src="img/features-smoothy-02.png")
              .features__item
                .features__item__foreground
                  .features__item__icon
                    //- +svg([{'class': 'icon-features svg-icon', 'pathid': 'svg-features-item', 'filename':'features-item-icon03'}])
                    svg.icon-features#svg-features-item(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-904.3 491 116.9 109.4', enable-background='new -904.3 491 116.9 109.4', xml:space='preserve')
                      g(transform='translate(0,-952.36216)')
                        path(class='icon-element--main' d='M-872.1,1447.5v66.9c0,2.4,1.5,4.4,4.1,4.4l76.6,0c2.6,0,4-1.8,4-4.2v-67.1c0-2.4-1.6-4.2-4.2-4.2l-76.3,0\
                        C-870.4,1443.3-872.1,1445.1-872.1,1447.5z M-833.9,1513.7h-32.7v-65.3h32.7V1513.7z M-792.8,1513.7h-32.5l-0.2-32.5h6.6v-1.7h-6.6\
                        l0.2-31.2h32.5V1513.7z')
                      path(class='icon-element--main' d='M-850.3,538.3l-13.5-1.1l-5.7-10.8c-0.3-0.6-0.7-1.1-1.2-1.5c-0.2-0.2-0.4-0.3-0.6-0.5\
                      c-1.3-1.1-2.7-2.1-3.9-2.8c-1.2-0.8-2.3-1.4-3.1-1.8c-0.2,0.4-1.7,3.9-2.7,5.4c0,0.1-0.1,0-0.1,0c-0.2-0.6-1-2.7-2.1-2.5\
                      c-0.1,0-0.1-0.1-0.1-0.1c0.9-0.7,3.1-2.5,4-3.5v-2.4c0.4-0.7,0.7-1.4,0.8-2.1c0.3,0,0.7-0.4,1.1-1.9c0.5-1.9,0-2.3-0.5-2.3\
                      c1.2-5.7-2-5.7-2-5.7c-0.3-1.2-2-2.4-3.5-2.1c-1.6,0.3-4.8,0-4.8,0c0,0.7,0.5,1.2,0.5,1.2c-2.9,1.7-2.2,5.6-1.9,6.7\
                      c-0.5,0-1,0.4-0.5,2.3c0.4,1.5,0.8,1.9,1.1,1.9c0.1,0.7,0.4,1.4,0.8,2.1v2.4c0.9,1,3.1,2.9,4,3.5c0.1,0.1,0,0.1-0.1,0.1\
                      c-1.2-0.2-2,1.9-2.2,2.5c0,0.1-0.1,0.1-0.1,0c-1-1.5-2.5-5-2.7-5.4c-1.5,0.8-4.3,2.4-7,4.6c-0.2,0.1-0.4,0.3-0.6,0.4\
                      c-0.6,0.5-1.1,1.1-1.4,1.8l-3.1,6.8l-2.6,5.5c-0.5,1-0.4,2.1,0.2,3l10.6,15.9l0.1,6.2l1.3,35.2c0,0.6,0.5,1.1,1.2,1.1h4\
                      c0.6,0,1.2-0.5,1.2-1.1l1.1-35.2h1.5l1.1,35.2c0,0.6,0.5,1.1,1.2,1.1h3.9c0.6,0,1.1-0.5,1.2-1.1l1.4-35.2l1.3-28.7l4.6,6.1\
                      c0.7,1,1.9,1.5,3.2,1.5l14.9-1.1c0.9-0.1,1.6-0.8,1.7-1.7C-848.6,539.3-849.3,538.4-850.3,538.3z M-897.6,541.1\
                      c-0.2-0.3-0.2-0.8,0-1.1l3.5-5.2l0.7,13.5L-897.6,541.1z')
                      path(class='icon-element', d='M-837.9,523.2c0.8-0.7,0.8-1.9,0-2.6l-0.3-0.3c-0.5-0.5-0.7-1.3-0.4-1.9l0.3-0.6c0.4-0.9-0.1-2-1.1-2.3\
                      l-0.6-0.2c-0.7-0.2-1.2-0.8-1.2-1.6V513c0-0.9-0.8-1.6-1.7-1.6h-0.3l-0.8,0.1h-0.3c-0.6,0-1.2-0.3-1.5-0.9l-0.3-0.6\
                      c-0.3-0.6-0.9-0.9-1.5-0.9c-0.3,0-0.7,0.1-1,0.3l-0.5,0.4c-0.3,0.2-0.6,0.3-1,0.3c-0.4,0-0.7-0.1-1-0.3l-0.6-0.3\
                      c-0.3-0.2-0.7-0.3-1-0.3c-0.6,0-1.2,0.3-1.5,0.9l-0.3,0.6c-0.3,0.6-0.9,0.9-1.5,0.9h-0.3l-0.7-0.1h-0.3c-0.9,0-1.7,0.7-1.7,1.6v0.7\
                      c0,0.7-0.5,1.4-1.2,1.6l-0.6,0.2c-1,0.3-1.5,1.4-1.1,2.3l0.3,0.6c0.3,0.7,0.1,1.5-0.4,1.9l-0.7,0.3c-0.8,0.7-0.8,1.9,0,2.6l0.5,0.4\
                      c0.5,0.5,0.7,1.3,0.4,1.9l-0.3,0.6c-0.4,0.9,0.1,2,1.1,2.3l0.6,0.2c0.7,0.2,1.2,0.8,1.2,1.6v0.7c0,0.9,0.8,1.6,1.7,1.6h0.3l0.7-0.1\
                      h0.3c0.6,0,1.2,0.3,1.5,0.9l0.3,0.6c0.3,0.6,0.9,0.9,1.5,0.9c0.3,0,0.7-0.1,1-0.3l0.5-0.4c0.3-0.2,0.6-0.3,1-0.3s0.7,0.1,1,0.3\
                      l0.7,0.3c0.3,0.2,0.7,0.3,1,0.3c0.6,0,1.2-0.3,1.5-0.9l0.3-0.6c0.3-0.6,0.9-0.9,1.5-0.9h0.3l0.7,0.1h0.3c0.9,0,1.7-0.7,1.7-1.6v-0.7\
                      c0-0.7,0.5-1.4,1.2-1.6l0.6-0.2c1-0.3,1.5-1.4,1.1-2.3l-0.3-0.6c-0.3-0.7-0.1-1.5,0.4-1.9L-837.9,523.2z M-849.5,524.4l-2.1,2.1\
                      l-4.1-4.1l2.1-2.1l2,2l4.8-4.7l2.1,2.1L-849.5,524.4z')


                  .features__item__title
                    h3.features__item__title__text аккуратный монтаж
                  .divider--item
                  a.features__btn.js-more(href="#" data-more-num="3") Больше
                //- .features__item__more
            i.extra__item.js-extra(href="#" data-more-option="3")
              p 33 Все большее число зданий в Алматы и других городах Казахстана украшают не традиционные деревянные, а пластиковые окна. И дело не столько в их внешней эстетике (хотя и она, несомненно, сыграла важную роль!), сколько в выдающихся эксплуатационных характеристиках и удобстве использования. Так, конструкции из дерева приходится регулярно подкрашивать, так как влага разрушает лак и краску. Стеклопакеты же вовсе не требуют сложного ухода! Им достаточно периодически устраивать влажную уборку, чтобы они сохранили презентабельный вид на 20-30 лет.
            hr.vdivider

            //- item 04
            .features__item-container.js-feature-item(data-more-container="4")
              .features-smoothy(data-more-smoothy="4")
                img(src="img/features-smoothy-01.jpg")
                img(src="img/features-smoothy-02.png")
              .features__item
                .features__item__foreground
                  .features__item__icon
                    //- +svg([{'class': 'icon-features svg-icon', 'pathid': 'svg-features-item', 'filename':'features-item-icon04'}])
                    svg.icon-features#svg-features-item(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 54.2 71', enable-background='new 0 0 54.2 71', xml:space='preserve')
                      g
                        defs
                          rect#SVGID_1_(width='54.2', height='71')
                        path(class='icon-element--main' class='icon-element' clip-path='url(#SVGID_2_)', d='M19,54c-0.2-0.1-0.2-0.3-0.2-0.4c0.2-0.6,0-1.2-0.4-1.7s-1.1-0.8-1.7-0.7\
                        c-0.2,0-0.4-0.1-0.4-0.3c-0.1-0.6-0.6-1.1-1.2-1.4c-0.6-0.2-1.2-0.1-1.6,0.2c-0.1,0.1-0.3,0.1-0.4,0c-0.4-0.4-1-0.6-1.6-0.5\
                        c-0.6,0.1-1.1,0.5-1.4,1c-0.1,0.2-0.3,0.2-0.4,0.2c-0.6-0.2-1.2,0-1.7,0.4c-0.5,0.4-0.8,1.1-0.7,1.7c0,0.2-0.1,0.4-0.3,0.4\
                        c-0.6,0.1-1.1,0.6-1.4,1.2c-0.2,0.6-0.1,1.2,0.2,1.6c0.1,0.1,0.1,0.3,0,0.4c-0.4,0.4-0.6,1-0.5,1.6c0.1,0.6,0.5,1.1,1,1.4\
                        c0.2,0.1,0.2,0.3,0.2,0.4c-0.2,0.6,0,1.2,0.4,1.7C7.3,61.7,8,62,8.6,61.9C8.8,61.9,9,62,9,62.2c0.1,0.6,0.6,1.1,1.2,1.4\
                        c0.6,0.2,1.2,0.1,1.6-0.2c0.1-0.1,0.3-0.1,0.4,0c0.4,0.4,1,0.6,1.6,0.5c0.6-0.1,1.1-0.5,1.4-1c0.1-0.2,0.3-0.2,0.4-0.2\
                        c0.6,0.2,1.2,0,1.7-0.4c0.5-0.4,0.8-1.1,0.7-1.7c0-0.2,0.1-0.4,0.3-0.4c0.6-0.1,1.1-0.6,1.4-1.2c0.2-0.6,0.1-1.2-0.2-1.6\
                        c-0.1-0.1-0.1-0.3,0-0.4c0.4-0.4,0.6-1,0.5-1.6C19.9,54.8,19.5,54.2,19,54')
                        path(class='icon-element--main' clip-path='url(#SVGID_2_)', d='M52.2,0H2C0.9,0,0,0.9,0,2v67c0,1.1,0.9,2,2,2h50.2c1.1,0,2-0.9,2-2V2\
                        C54.2,0.9,53.3,0,52.2,0 M5.6,67.1c-0.8,0-1.5-0.7-1.5-1.5V5.5C4.1,4.7,4.8,4,5.6,4h43.1c0.8,0,1.5,0.7,1.5,1.5v60\
                        c0,0.8-0.7,1.5-1.5,1.5')
                        path(class='icon-element--main' clip-path='url(#SVGID_2_)', d='M13,13.5h28.1c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2H13c-1.1,0-2,0.9-2,2\
                        C11,12.6,11.9,13.5,13,13.5')
                        path(class='icon-element--main' clip-path='url(#SVGID_2_)', d='M45.9,18.4H8.3c-0.8,0-1.5,0.7-1.5,1.5c0,0.8,0.7,1.5,1.5,1.5h37.6\
                        c0.8,0,1.5-0.7,1.5-1.5C47.4,19.1,46.7,18.4,45.9,18.4')
                        path(class='icon-element--main' clip-path='url(#SVGID_2_)', d='M45.9,26.1H8.3c-0.8,0-1.5,0.7-1.5,1.5c0,0.8,0.7,1.5,1.5,1.5h37.6\
                        c0.8,0,1.5-0.7,1.5-1.5C47.4,26.8,46.7,26.1,45.9,26.1')
                        path(class='icon-element--main' clip-path='url(#SVGID_2_)', d='M45.9,33.8H8.3c-0.8,0-1.5,0.7-1.5,1.5c0,0.8,0.7,1.5,1.5,1.5h37.6\
                        c0.8,0,1.5-0.7,1.5-1.5C47.4,34.4,46.7,33.8,45.9,33.8')
                        path(class='icon-element' clip-path='url(#SVGID_2_)', d='M46.1,54.2l-3-1.2c0.1-1.1,0.1-2.3-0.1-3.4c-0.1-0.7-0.6-1.2-1.3-1.3\
                        c-0.6-0.1-1.1,0.2-1.4,0.7c0.1-1.8,0.1-3.7,0-5.5c0-0.7-0.5-1.2-1.1-1.4c-0.6-0.2-1.3,0.1-1.7,0.7c-1.3,2.1-1.8,4.5-2.3,6.7\
                        c0,0.2-0.1,0.5-0.1,0.7c-0.2-0.1-0.5-0.1-0.8,0c-0.6,0.1-1.1,0.6-1.2,1.3v0.7c-0.1,0.5,0.1,1,0.5,1.3c0.2,0.1,0.3,0.3,0.5,0.3\
                        c-0.3,0.7-0.7,1.4-1.1,2c-0.5,0.6-1,0.9-1.4,0.9c-0.8-0.1-1.5,0.6-1.6,1.4s0.6,1.5,1.4,1.6c1.4,0.1,2.8-0.6,3.9-2\
                        c0.5-0.6,0.9-1.3,1.3-2c-0.3,1.6-0.6,3.1-1,4.6c-0.2,0.7,0.2,1.5,0.9,1.7c0.2,0.1,0.4,0.1,0.6,0.1c0.5,0,1-0.3,1.3-0.7\
                        c0.9-1.6,1.8-3.2,2.6-4.8h0.3c0.5-0.1,0.9-0.3,1.1-0.7l2.6,1c0.8,0.3,1.6-0.1,1.9-0.9C47.3,55.3,46.9,54.5,46.1,54.2')
                        path(class='icon-element' clip-path='url(#SVGID_2_)', d='M9.6,47.8c-0.2,0.1-0.4,0.3-0.5,0.4c0,0.1-0.1,0.1-0.2,0.1\
                        c-0.8,0-1.6,0.3-2.3,0.8c-0.6,0.5-1,1.2-1.2,1.9c0,0.1,0,0.2-0.1,0.2c-0.2,0.1-0.5,0.4-0.6,0.5c-0.1,0.1-0.3,0.1-0.4,0l-3.6-5.4\
                        c-0.1-0.2,0-0.3,0.1-0.4l3.2-1.3l1-2.3c0.1-0.2,0.4-0.3,0.5-0.1l4.1,5.1C9.8,47.5,9.7,47.7,9.6,47.8')
                        path(class='icon-element' clip-path='url(#SVGID_2_)', d='M24.9,67c0.2-0.2,0.2-0.4,0.1-0.5l-4-5c-0.1-0.1-0.3-0.2-0.5,0\
                        c-0.2,0.1-0.4,0.3-0.5,0.4c-0.1,0-0.1,0.1-0.1,0.2c-0.2,0.8-0.6,1.5-1.3,2c-0.6,0.5-1.4,0.8-2.1,0.8c-0.1,0-0.2,0-0.2,0.1\
                        c-0.2,0.2-0.5,0.5-0.6,0.5c-0.1,0.1-0.2,0.3-0.1,0.4l3.3,4.4c0.2,0.2,0.4,0.3,0.6,0.1l1.9-2.6L24.9,67z')


                  .features__item__title
                    h3.features__item__title__text 10 лет гарантии на пвх и 8 лет на фурнитуру
                  .divider--item
                  a.features__btn.js-more(href="#" data-more-num="4") Больше
                //- .features__item__more

            i.extra__item.js-extra(href="#" data-more-option="4")
              p 44 Все большее число зданий в Алматы и других городах Казахстана украшают не традиционные деревянные, а пластиковые окна. И дело не столько в их внешней эстетике (хотя и она, несомненно, сыграла важную роль!), сколько в выдающихся эксплуатационных характеристиках и удобстве использования. Так, конструкции из дерева приходится регулярно подкрашивать, так как влага разрушает лак и краску. Стеклопакеты же вовсе не требуют сложного ухода! Им достаточно периодически устраивать влажную уборку, чтобы они сохранили презентабельный вид на 20-30 лет.


        .features__item__row
          .row__items
            //- item
            .features__item-container.js-feature-item(data-more-container="5")
              .features-smoothy(data-more-smoothy="5")
                img(src="img/features-smoothy-01.jpg")
                img(src="img/features-smoothy-02.png")
              .features__item
                .features__item__foreground
                  .features__item__icon
                    //- +svg([{'class': 'icon-features svg-icon', 'pathid': 'svg-features-item', 'filename':'features-item-icon05'}])
                    svg.icon-features#svg-features-item(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-958.3 529 35.3 24', enable-background='new -958.3 529 35.3 24', xml:space='preserve')
                      path(class='icon-element--main' d='M-935,529c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S-928.4,529-935,529z M-935,551\
                      c-5.5,0-10-4.5-10-10s4.5-10,10-10c2.1,0,4.1,0.7,5.7,1.8c0.5,0.3,0.9,0.7,1.3,1.1c1.8,1.8,3,4.4,3,7.1\
                      C-925,546.5-929.5,551-935,551z')
                      path(class='icon-element--main' d='M-948.1,536.4h-6.8c-0.5,0-0.8-0.4-0.8-0.8l0,0c0-0.5,0.4-0.8,0.8-0.8h6.8c0.5,0,0.8,0.4,0.8,0.8l0,0\
                      C-947.2,536.1-947.6,536.4-948.1,536.4z')
                      path(class='icon-element--main' d='M-948.1,547.5h-6.8c-0.5,0-0.8-0.4-0.8-0.8l0,0c0-0.5,0.4-0.8,0.8-0.8h6.8c0.5,0,0.8,0.4,0.8,0.8l0,0\
                      C-947.2,547.1-947.6,547.5-948.1,547.5z')
                      path(class='icon-element--main' d='M-950.6,542h-6.8c-0.5,0-0.8-0.4-0.8-0.8l0,0c0-0.5,0.4-0.8,0.8-0.8h6.8c0.5,0,0.8,0.4,0.8,0.8l0,0\
                      C-949.8,541.6-950.2,542-950.6,542z')
                      path(class='icon-element', d='M-929.2,541.8c-1.9,0.4-6,1.1-6.5,1.1c-0.7,0-1.3-0.6-1.3-1.3c0-0.5,0.8-5.5,1.1-7.4c0-0.2,0.3-0.2,0.3,0\
                      l1,6.2l5.4,1C-929,541.5-929,541.8-929.2,541.8z')


                  .features__item__title
                    h3.features__item__title__text 3 дня изготовление
                  .divider--item
                  a.features__btn.js-more(href="#" data-more-num="5") Больше
                //- .features__item__more
            .extra__item.js-extra(href="#" data-more-option="5")
              p 55 Все большее число зданий в Алматы и других городах Казахстана украшают не традиционные деревянные, а пластиковые окна. И дело не столько в их внешней эстетике (хотя и она, несомненно, сыграла важную роль!), сколько в выдающихся эксплуатационных характеристиках и удобстве использования. Так, конструкции из дерева приходится регулярно подкрашивать, так как влага разрушает лак и краску. Стеклопакеты же вовсе не требуют сложного ухода! Им достаточно периодически устраивать влажную уборку, чтобы они сохранили презентабельный вид на 20-30 лет.

            hr.vdivider

            //- item
            .features__item-container.js-feature-item(data-more-container="6")
              .features-smoothy(data-more-smoothy="6")
                img(src="img/features-smoothy-01.jpg")
                img(src="img/features-smoothy-02.png")
              .features__item
                .features__item__foreground
                  .features__item__icon
                    //- +svg([{'class': 'icon-features svg-icon', 'pathid': 'svg-features-item', 'filename':'features-item-icon06'}])
                    svg.icon-features#svg-features-item(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-947 518.3 33.1 32.2', enable-background='new -947 518.3 33.1 32.2', xml:space='preserve')
                      g
                        g
                          path(class='icon-element--main' d='M-942,540.3c2.7,0,5-1,5-2.3v-0.7c-1.1,0.9-3.1,1.4-5,1.4c-1.9,0-3.9-0.5-5-1.4v0.7\
                          C-947,539.3-944.7,540.3-942,540.3z')
                          path(class='icon-element--main' d='M-942,537.8c2.7,0,5-1,5-2.3v-0.7c-1.1,0.9-3.1,1.4-5,1.4c-1.9,0-3.9-0.5-5-1.4v0.7\
                          C-947,536.8-944.7,537.8-942,537.8z')
                        path(class='icon-element--main' d='M-942,530.8c-2.7,0-5,1-5,2.3s2.3,2.3,5,2.3c2.7,0,5-1,5-2.3S-939.3,530.8-942,530.8z M-941,532.9h-0.9\
                        l-0.6,1.6h-0.6l0.6-1.6h-0.9l0.2-0.5h2.3L-941,532.9z M-940.8,532.1h-0.9h-0.6h-0.9l0.2-0.5h2.3L-940.8,532.1z')
                      g
                        g
                          path(class='icon-element--main' d='M-930.5,540.3c2.7,0,5-1,5-2.3v-0.7c-1.1,0.9-3.1,1.4-5,1.4c-1.9,0-3.9-0.5-5-1.4v0.7\
                          C-935.5,539.3-933.2,540.3-930.5,540.3z')
                          path(class='icon-element--main' d='M-930.5,537.8c2.7,0,5-1,5-2.3v-0.7c-1.1,0.9-3.1,1.4-5,1.4c-1.9,0-3.9-0.5-5-1.4v0.7\
                          C-935.5,536.8-933.2,537.8-930.5,537.8z')
                        path(class='icon-element--main' d='M-930.5,530.8c-2.7,0-5,1-5,2.3s2.3,2.3,5,2.3c2.7,0,5-1,5-2.3S-927.9,530.8-930.5,530.8z M-929.6,532.9\
                        h-0.9l-0.6,1.6h-0.6l0.6-1.6h-0.9l0.2-0.5h2.3L-929.6,532.9z M-929.3,532.1h-0.9h-0.6h-0.9l0.2-0.5h2.3L-929.3,532.1z')
                      g
                        g
                          path(class='icon-element--main' d='M-919.1,540.3c2.7,0,5-1,5-2.3v-0.7c-1.1,0.9-3.1,1.4-5,1.4c-1.9,0-3.9-0.5-5-1.4v0.7\
                          C-924.1,539.3-921.8,540.3-919.1,540.3z')
                          path(class='icon-element--main' d='M-919.1,537.8c2.7,0,5-1,5-2.3v-0.7c-1.1,0.9-3.1,1.4-5,1.4c-1.9,0-3.9-0.5-5-1.4v0.7\
                          C-924.1,536.8-921.8,537.8-919.1,537.8z')
                        path(class='icon-element--main' d='M-919.1,530.8c-2.7,0-5,1-5,2.3s2.3,2.3,5,2.3c2.7,0,5-1,5-2.3S-916.4,530.8-919.1,530.8z M-918.1,532.9\
                        h-0.9l-0.6,1.6h-0.6l0.6-1.6h-0.9l0.2-0.5h2.3L-918.1,532.9z M-917.8,532.1h-0.9h-0.6h-0.9l0.2-0.5h2.3L-917.8,532.1z')
                      g
                        g
                          path(class='icon-element--main' d='M-941.8,527.8c2.7,0,5-1,5-2.3v-0.7c-1.1,0.9-3.1,1.4-5,1.4c-1.9,0-3.9-0.5-5-1.4v0.7\
                          C-946.8,526.8-944.5,527.8-941.8,527.8z')
                          path(class='icon-element--main' d='M-941.8,525.3c2.7,0,5-1,5-2.3v-0.7c-1.1,0.9-3.1,1.4-5,1.4c-1.9,0-3.9-0.5-5-1.4v0.7\
                          C-946.8,524.3-944.5,525.3-941.8,525.3z')
                        path(class='icon-element--main' d='M-941.8,518.3c-2.7,0-5,1-5,2.3s2.3,2.3,5,2.3c2.7,0,5-1,5-2.3S-939.2,518.3-941.8,518.3z M-940.9,520.4\
                        h-0.8l-0.6,1.6h-0.6l0.6-1.6h-0.9l0.2-0.5h2.3L-940.9,520.4z M-940.6,519.6h-0.8h-0.6h-0.9l0.2-0.5h2.3L-940.6,519.6z')
                      g
                        g
                          path(class='icon-element--main' d='M-930.4,527.8c2.7,0,5-1,5-2.3v-0.7c-1.1,0.9-3.1,1.4-5,1.4c-1.9,0-3.9-0.5-5-1.4v0.7\
                          C-935.4,526.8-933,527.8-930.4,527.8z')
                          path(class='icon-element--main' d='M-930.4,525.3c2.7,0,5-1,5-2.3v-0.7c-1.1,0.9-3.1,1.4-5,1.4c-1.9,0-3.9-0.5-5-1.4v0.7\
                          C-935.4,524.3-933,525.3-930.4,525.3z')
                        path(class='icon-element--main' d='M-930.4,518.3c-2.7,0-5,1-5,2.3s2.3,2.3,5,2.3c2.7,0,5-1,5-2.3S-927.7,518.3-930.4,518.3z M-929.4,520.4\
                        h-0.9l-0.6,1.6h-0.6l0.6-1.6h-0.9l0.2-0.5h2.3L-929.4,520.4z M-929.1,519.6h-0.9h-0.6h-0.9l0.2-0.5h2.3L-929.1,519.6z')
                      g
                        g
                          path(class='icon-element--main' d='M-918.9,527.8c2.7,0,5-1,5-2.3v-0.7c-1.1,0.9-3.1,1.4-5,1.4c-1.9,0-3.9-0.5-5-1.4v0.7\
                          C-923.9,526.8-921.6,527.8-918.9,527.8z')
                          path(class='icon-element--main' d='M-918.9,525.3c2.7,0,5-1,5-2.3v-0.7c-1.1,0.9-3.1,1.4-5,1.4c-1.9,0-3.9-0.5-5-1.4v0.7\
                          C-923.9,524.3-921.6,525.3-918.9,525.3z')
                        path(class='icon-element--main' d='M-918.9,518.3c-2.7,0-5,1-5,2.3s2.3,2.3,5,2.3c2.7,0,5-1,5-2.3S-916.2,518.3-918.9,518.3z M-918,520.4h-0.9\
                        l-0.6,1.6h-0.6l0.6-1.6h-0.9l0.2-0.5h2.3L-918,520.4z M-917.7,519.6h-0.9h-0.6h-0.9l0.2-0.5h2.3L-917.7,519.6z')
                      path(class='icon-element', d='M-924.8,547.4h-21.7c-0.2,0-0.4-0.2-0.4-0.4l0,0c0-0.2,0.2-0.4,0.4-0.4h21.7c0.2,0,0.4,0.2,0.4,0.4l0,0\
                      C-924.4,547.2-924.6,547.4-924.8,547.4z')
                      path(class='icon-element', d='M-925.8,548.5l0-0.5l1.4-1.1l-1.4-1.3l0-0.3c0-0.2,0.2-0.3,0.3-0.2l2.8,1.6c0.1,0.1,0.1,0.3,0,0.3l-2.8,1.6\
                      C-925.6,548.8-925.8,548.7-925.8,548.5z')
                      path(class='icon-element--main' d='M-917.6,544c1.6,0,3,1.3,3,3s-1.3,3-3,3c-1.6,0-3-1.3-3-3S-919.3,544-917.6,544z M-917.6,543.4\
                      c-2,0-3.5,1.6-3.5,3.5s1.6,3.5,3.5,3.5c2,0,3.5-1.6,3.5-3.5S-915.7,543.4-917.6,543.4z M-915.9,547.1c0.1,0,0.1,0.1,0,0.1\
                      c-0.6,0.1-1.8,0.3-1.9,0.3c-0.2,0-0.4-0.2-0.4-0.4c0-0.1,0.2-1.6,0.3-2.2c0-0.1,0.1-0.1,0.1,0l0.3,1.8L-915.9,547.1z')
                      path(class='icon-element', d='M-931.4,548.3L-931.4,548.3c-0.1,0-0.3-0.1-0.3-0.3v-2.3c0-0.1,0.1-0.3,0.3-0.3l0,0c0.1,0,0.3,0.1,0.3,0.3\
                      v2.3C-931.1,548.2-931.2,548.3-931.4,548.3z')
                      path(class='icon-element', d='M-939,548.3L-939,548.3c-0.1,0-0.3-0.1-0.3-0.3v-2.3c0-0.1,0.1-0.3,0.3-0.3l0,0c0.1,0,0.3,0.1,0.3,0.3v2.3\
                      C-938.7,548.2-938.8,548.3-939,548.3z')
                      circle(class='icon-element', cx='-945.5', cy='546.9', r='1.4')


                  .features__item__title
                    h3.features__item__title__text Возможность купить в рассрочку
                  .divider--item
                  a.features__btn.js-more(href="#" data-more-num="6") Больше
                .features__item__more

            .extra__item.js-extra(href="#" data-more-option="6")
              p 66 Все большее число зданий в Алматы и других городах Казахстана украшают не традиционные деревянные, а пластиковые окна. И дело не столько в их внешней эстетике (хотя и она, несомненно, сыграла важную роль!), сколько в выдающихся эксплуатационных характеристиках и удобстве использования. Так, конструкции из дерева приходится регулярно подкрашивать, так как влага разрушает лак и краску. Стеклопакеты же вовсе не требуют сложного ухода! Им достаточно периодически устраивать влажную уборку, чтобы они сохранили презентабельный вид на 20-30 лет.


// features end
