// features
section.features
  .shell
    .container
      .range

        //- title
        .features-title
          h3.features-title-text Мы круче всех


        //- content block
        .features-content


        .features__item__row
          .row__items
            //- item 01
            .features__item-container.js-feature-item(data-more-container="1")
              .features__item
                .features__item__foreground
                  .features__item__icon
                    //- +svg([{'class': 'icon-features svg-icon', 'pathid': 'svg-features-item', 'filename':'features-item-icon01'}])
                    svg.icon-features#svg-features-item(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-805.7 484.3 85 90', style='enable-background:new -805.7 484.3 85 90;', xml:space='preserve')
                      g
                        path(class='icon-element--main' d='M-745.7,544.8v-18.5c0-1.1-0.9-2-2-2h-31c-1.1,0-2,0.9-2,2v8.5c0,1.1-0.9,2-2,2h-21c-1.1,0-2,0.9-2,2v33.5\
                        c0,1.1,0.9,2,2,2h81c1.1,0,2-0.9,2-2v-23.5c0-1.1-0.9-2-2-2h-21C-744.8,546.8-745.7,545.9-745.7,544.8z M-780.2,566.8h-16\
                        c-1.1,0-2-0.9-2-2v-18.5c0-1.1,0.9-2,2-2h16c1.1,0,2,0.9,2,2v18.5C-778.2,565.9-779,566.8-780.2,566.8z M-755.2,566.8h-16\
                        c-1.1,0-2-0.9-2-2v-31c0-1.1,0.9-2,2-2h16c1.1,0,2,0.9,2,2v31C-753.2,565.9-754,566.8-755.2,566.8z M-730.2,566.8h-16\
                        c-1.1,0-2-0.9-2-2v-8.5c0-1.1,0.9-2,2-2h16c1.1,0,2,0.9,2,2v8.5C-728.2,565.9-729,566.8-730.2,566.8z')
                        path(class='icon-element' d='M-765.7,512.2v0.4c0,0.9-0.8,1.7-1.7,1.7h-1.6c-0.9,0-1.7,0.8-1.7,1.7v1.6c0,0.9,0.8,1.7,1.7,1.7h11.6\
                        c0.9,0,1.7-0.8,1.7-1.7v-1.6c0-0.9-0.8-1.7-1.7-1.7h-1.6c-0.9,0-1.7-0.8-1.7-1.7v-0.4c0-0.7,0.4-1.3,1.1-1.6\
                        c12.2-4.8,18.9-11.2,18.9-18.2v-1.4c0-0.9-0.8-1.7-1.7-1.7h-6.6c-0.9,0-1.7-0.8-1.7-1.7c0,0,0,0,0,0v-1.6c0-0.9-0.8-1.7-1.7-1.7\
                        H-774c-0.9,0-1.7,0.8-1.7,1.7v1.6c0,0,0,0,0,0c0,0.9-0.7,1.7-1.7,1.7h-6.6c-0.9,0-1.7,0.8-1.7,1.7v1.4c0,7,6.7,13.4,18.9,18.2\
                        C-766.1,510.8-765.7,511.5-765.7,512.2z M-750.1,494.3h1.4c1.4,0,2.2,1.6,1.3,2.7c-0.6,0.8-1.4,1.6-2.3,2.4\
                        c-1.3,1.1-3.2-0.2-2.7-1.8c0.2-0.7,0.4-1.3,0.6-2C-751.5,494.8-750.9,494.3-750.1,494.3z M-755.9,491.2c-0.7,4.8-2.7,9.3-5.9,13.1\
                        c-0.7,0.8-1.9,0.8-2.6,0c-3.2-3.9-5.2-8.4-5.9-13.1c-0.1-1,0.6-1.9,1.7-1.9c2.9,0,8.3,0,11.1,0\
                        C-756.6,489.3-755.8,490.2-755.9,491.2z M-774.6,495.5c0.2,0.7,0.4,1.3,0.6,2c0.6,1.6-1.4,3-2.7,1.8c-0.9-0.8-1.7-1.6-2.3-2.4\
                        c-0.8-1.1-0.1-2.7,1.3-2.7h1.4C-775.4,494.3-774.8,494.8-774.6,495.5z')

                  .features__item__title
                    h3.features__item__title__text 10 лет на рынке
                  .divider--item
                  a.features__btn.js-more(href="#" data-more-num="1")
                    span Больше
                //- .features__item__more

            hr.vdivider
            //- extra 01
            i.extra__item.js-extra(href="#" data-more-option="1")
              p 11 Киевская компания по продаже металлопластиковых конструкций "Ventano" уже несколько лет является успешным игроком не только на столичном оконном рынке, но также и во многих городах Киевской области. За долгие годы сложенной работы мы сумели зарекомендовать себя как остветственная компания с высококвалифицированным персоналом и продукцией отличного качества. Однако компания занимается не только продажей металлопластиковых окон и дверей. Мы также продаем москитные сетки на окна в Киеве и предоставляем такую услугу, как изготовление пластиковых окон под заказ. И это также одно из наших приоритетных направлений.

            //- item 02
            .features__item-container.js-feature-item(data-more-container="2")
              .features__item
                .features__item__foreground
                  .features__item__icon
                    //- +svg([{'class': 'icon-features svg-icon', 'pathid': 'svg-features-item', 'filename':'features-item-icon02'}])
                    svg.icon-features#svg-features-item(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-946 529 22 24', style='enable-background:new -946 529 22 24;', xml:space='preserve')
                      g
                        path(class='icon-element--main' d='M-941,547c1.1,0,2.2-0.2,3-0.5c0-0.5,0.1-1,0.2-1.5c-1,0.3-2.1,0.5-3.3,0.5c-1.9,0-3.9-0.5-5-1.4v0.7\
                        C-946,546-943.7,547-941,547z')
                        path(class='icon-element--main' d='M-934,540.1c0.6-0.3,1.2-0.6,1.9-0.8c-1.1-0.2-2.2-0.6-2.9-1.2v0.7C-935,539.2-934.6,539.7-934,540.1z')
                        path(class='icon-element--main' d='M-926,540.1c0.6-0.4,1-0.8,1-1.3v-0.7c-0.7,0.6-1.7,1-2.9,1.2C-927.2,539.5-926.6,539.7-926,540.1z')
                        path(class='icon-element--main' d='M-930,538.5c2.7,0,5-1,5-2.3v-0.7c-1.1,0.9-3.1,1.4-5,1.4c-1.9,0-3.9-0.5-5-1.4v0.7\
                        C-935,537.5-932.7,538.5-930,538.5z')
                        path(class='icon-element--main' d='M-930,536c2.7,0,5-1,5-2.3v-0.7c-1.1,0.9-3.1,1.4-5,1.4c-1.9,0-3.9-0.5-5-1.4v0.7C-935,535-932.7,536-930,536z\
                        ')
                        path(class='icon-element--main' d='M-941,550.5c-1.9,0-3.9-0.5-5-1.4v0.7c0,1.2,2.3,2.3,5,2.3c1.7,0,3.2-0.4,4.1-1c-0.2-0.4-0.4-0.7-0.5-1.1\
                        C-938.5,550.3-939.8,550.5-941,550.5z')
                        path(class='icon-element--main' d='M-941,549.5c1.2,0,2.4-0.2,3.2-0.6c-0.1-0.4-0.2-0.9-0.2-1.4c-0.9,0.3-2,0.4-3,0.4c-1.9,0-3.9-0.5-5-1.4v0.7\
                        C-946,548.5-943.7,549.5-941,549.5z')
                      path(class='icon-element--main' d='M-930,529c-2.7,0-5,1-5,2.3s2.3,2.3,5,2.3c2.7,0,5-1,5-2.3S-927.3,529-930,529z M-928.7,530.4\
                      c-0.1,0.3-0.3,0.5-0.3,0.5l0.1,0l-0.1,0.2l-0.3,0c-0.3,0.2-0.7,0.3-0.7,0.3l0.8,0.1l-0.1,0.3l-1.3-0.2c-0.6,0.2-0.6,0.5-0.6,0.6\
                      c0,0.1-0.1,0.4,0.5,0.5c0.6,0.1,1.1-0.1,1.1-0.1l-0.2,0.5c-0.4,0.1-0.9,0-0.9,0c-0.7-0.1-1-0.5-0.9-0.9c0.1-0.4,0.4-0.7,0.4-0.7\
                      l-0.2,0l0.1-0.2l0.5,0.1c0.2-0.1,0.8-0.2,0.8-0.2l-1.1-0.2l0.1-0.2l1.5,0.3c0.1-0.1,0.3-0.2,0.3-0.4s-0.1-0.4-0.6-0.5\
                      s-0.9,0.1-0.9,0.1l0.2-0.4c0.3-0.1,0.8,0,0.8,0C-928.8,529.6-928.6,530.1-928.7,530.4z')
                      path(class='icon-element' d='M-930,541c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6-6S-926.7,541-930,541z M-927.9,547.5h-2.5\
                      c-0.6,0.4-0.7,0.6-0.7,1.1c0,0.4,0.3,1,1.4,1c1.1,0,1.8-0.6,1.8-0.6v0.9c-1,0.4-1.6,0.4-1.6,0.4c-2.1,0-2.4-1.2-2.4-1.8s0.3-1,0.3-1\
                      h-0.4V547h0.9c0.3-0.2,1.3-0.7,1.3-0.7h-2.2v-0.5h2.9c0,0,0.3-0.2,0.3-0.7s-0.4-1-1.4-1s-1.5,0.4-1.5,0.4v-0.9\
                      c0.5-0.2,1.4-0.2,1.4-0.2c2.1,0,2.3,1.5,2.3,1.8s-0.1,0.6-0.1,0.6h0.2v0.5h-0.5c-0.4,0.4-1,0.7-1,0.7h1.5V547.5z')
                      path(class='icon-element--main' d='M-941,540c-2.7,0-5,1-5,2.3s2.3,2.3,5,2.3c1.4,0,2.8-0.3,3.7-0.8c0.3-0.7,0.7-1.3,1.2-1.9\
                      C-936.5,540.8-938.6,540-941,540z M-939.7,541.4c0,0.3-0.3,0.5-0.3,0.5l0.1,0l-0.1,0.2l-0.3,0c-0.3,0.2-0.7,0.3-0.7,0.3l0.8,0.1\
                      l-0.1,0.3l-1.3-0.2c-0.6,0.2-0.6,0.5-0.6,0.6c0,0.1-0.1,0.4,0.6,0.5c0.6,0.1,1.1-0.1,1.1-0.1l-0.2,0.5c-0.4,0.1-1,0-1,0\
                      c-0.7-0.1-1-0.5-1-0.9c0.1-0.4,0.4-0.7,0.4-0.7l-0.2,0l0.1-0.2l0.5,0.1c0.2-0.1,0.8-0.2,0.8-0.2l-1.2-0.2l0.1-0.2l1.6,0.3\
                      c0.2-0.1,0.3-0.2,0.3-0.4c0-0.2-0.1-0.4-0.6-0.5c-0.5-0.1-0.9,0.1-0.9,0.1l0.2-0.4c0.3-0.1,0.8,0,0.8,0\
                      C-939.9,540.7-939.7,541.1-939.7,541.4z')

                  .features__item__title
                    h3.features__item__title__text аккуратный монтаж
                  .divider--item
                  a.features__btn.js-more(href="#" data-more-num="2")
                    span Больше
                //- .features__item__more
            //- extra 02
            i.extra__item.js-extra(href="#" data-more-option="2")
              p 22 Киевская компания по продаже металлопластиковых конструкций "Ventano" уже несколько лет является успешным игроком не только на столичном оконном рынке, но также и во многих городах Киевской области. За долгие годы сложенной работы мы сумели зарекомендовать себя как остветственная компания с высококвалифицированным персоналом и продукцией отличного качества. Однако компания занимается не только продажей металлопластиковых окон и дверей. Мы также продаем москитные сетки на окна в Киеве и предоставляем такую услугу, как изготовление пластиковых окон под заказ. И это также одно из наших приоритетных направлений.


        .features__item__row
          .row__items
            //- item 03
            .features__item-container.js-feature-item(data-more-container="3")
              .features__item
                .features__item__foreground
                  .features__item__icon
                    //- +svg([{'class': 'icon-features svg-icon', 'pathid': 'svg-features-item', 'filename':'features-item-icon03'}])
                    svg.icon-features#svg-features-item(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-904.3 491 116.9 109.4', enable-background='new -904.3 491 116.9 109.4', xml:space='preserve')
                      g(transform='translate(0,-952.36216)')
                        path(class='icon-element--main' d='M-872.1,1447.5v66.9c0,2.4,1.5,4.4,4.1,4.4l76.6,0c2.6,0,4-1.8,4-4.2v-67.1c0-2.4-1.6-4.2-4.2-4.2l-76.3,0\
                        C-870.4,1443.3-872.1,1445.1-872.1,1447.5z M-833.9,1513.7h-32.7v-65.3h32.7V1513.7z M-792.8,1513.7h-32.5l-0.2-32.5h6.6v-1.7h-6.6\
                        l0.2-31.2h32.5V1513.7z')
                      path(class='icon-element--main' d='M-850.3,538.3l-13.5-1.1l-5.7-10.8c-0.3-0.6-0.7-1.1-1.2-1.5c-0.2-0.2-0.4-0.3-0.6-0.5\
                      c-1.3-1.1-2.7-2.1-3.9-2.8c-1.2-0.8-2.3-1.4-3.1-1.8c-0.2,0.4-1.7,3.9-2.7,5.4c0,0.1-0.1,0-0.1,0c-0.2-0.6-1-2.7-2.1-2.5\
                      c-0.1,0-0.1-0.1-0.1-0.1c0.9-0.7,3.1-2.5,4-3.5v-2.4c0.4-0.7,0.7-1.4,0.8-2.1c0.3,0,0.7-0.4,1.1-1.9c0.5-1.9,0-2.3-0.5-2.3\
                      c1.2-5.7-2-5.7-2-5.7c-0.3-1.2-2-2.4-3.5-2.1c-1.6,0.3-4.8,0-4.8,0c0,0.7,0.5,1.2,0.5,1.2c-2.9,1.7-2.2,5.6-1.9,6.7\
                      c-0.5,0-1,0.4-0.5,2.3c0.4,1.5,0.8,1.9,1.1,1.9c0.1,0.7,0.4,1.4,0.8,2.1v2.4c0.9,1,3.1,2.9,4,3.5c0.1,0.1,0,0.1-0.1,0.1\
                      c-1.2-0.2-2,1.9-2.2,2.5c0,0.1-0.1,0.1-0.1,0c-1-1.5-2.5-5-2.7-5.4c-1.5,0.8-4.3,2.4-7,4.6c-0.2,0.1-0.4,0.3-0.6,0.4\
                      c-0.6,0.5-1.1,1.1-1.4,1.8l-3.1,6.8l-2.6,5.5c-0.5,1-0.4,2.1,0.2,3l10.6,15.9l0.1,6.2l1.3,35.2c0,0.6,0.5,1.1,1.2,1.1h4\
                      c0.6,0,1.2-0.5,1.2-1.1l1.1-35.2h1.5l1.1,35.2c0,0.6,0.5,1.1,1.2,1.1h3.9c0.6,0,1.1-0.5,1.2-1.1l1.4-35.2l1.3-28.7l4.6,6.1\
                      c0.7,1,1.9,1.5,3.2,1.5l14.9-1.1c0.9-0.1,1.6-0.8,1.7-1.7C-848.6,539.3-849.3,538.4-850.3,538.3z M-897.6,541.1\
                      c-0.2-0.3-0.2-0.8,0-1.1l3.5-5.2l0.7,13.5L-897.6,541.1z')
                      path(class='icon-element', d='M-837.9,523.2c0.8-0.7,0.8-1.9,0-2.6l-0.3-0.3c-0.5-0.5-0.7-1.3-0.4-1.9l0.3-0.6c0.4-0.9-0.1-2-1.1-2.3\
                      l-0.6-0.2c-0.7-0.2-1.2-0.8-1.2-1.6V513c0-0.9-0.8-1.6-1.7-1.6h-0.3l-0.8,0.1h-0.3c-0.6,0-1.2-0.3-1.5-0.9l-0.3-0.6\
                      c-0.3-0.6-0.9-0.9-1.5-0.9c-0.3,0-0.7,0.1-1,0.3l-0.5,0.4c-0.3,0.2-0.6,0.3-1,0.3c-0.4,0-0.7-0.1-1-0.3l-0.6-0.3\
                      c-0.3-0.2-0.7-0.3-1-0.3c-0.6,0-1.2,0.3-1.5,0.9l-0.3,0.6c-0.3,0.6-0.9,0.9-1.5,0.9h-0.3l-0.7-0.1h-0.3c-0.9,0-1.7,0.7-1.7,1.6v0.7\
                      c0,0.7-0.5,1.4-1.2,1.6l-0.6,0.2c-1,0.3-1.5,1.4-1.1,2.3l0.3,0.6c0.3,0.7,0.1,1.5-0.4,1.9l-0.7,0.3c-0.8,0.7-0.8,1.9,0,2.6l0.5,0.4\
                      c0.5,0.5,0.7,1.3,0.4,1.9l-0.3,0.6c-0.4,0.9,0.1,2,1.1,2.3l0.6,0.2c0.7,0.2,1.2,0.8,1.2,1.6v0.7c0,0.9,0.8,1.6,1.7,1.6h0.3l0.7-0.1\
                      h0.3c0.6,0,1.2,0.3,1.5,0.9l0.3,0.6c0.3,0.6,0.9,0.9,1.5,0.9c0.3,0,0.7-0.1,1-0.3l0.5-0.4c0.3-0.2,0.6-0.3,1-0.3s0.7,0.1,1,0.3\
                      l0.7,0.3c0.3,0.2,0.7,0.3,1,0.3c0.6,0,1.2-0.3,1.5-0.9l0.3-0.6c0.3-0.6,0.9-0.9,1.5-0.9h0.3l0.7,0.1h0.3c0.9,0,1.7-0.7,1.7-1.6v-0.7\
                      c0-0.7,0.5-1.4,1.2-1.6l0.6-0.2c1-0.3,1.5-1.4,1.1-2.3l-0.3-0.6c-0.3-0.7-0.1-1.5,0.4-1.9L-837.9,523.2z M-849.5,524.4l-2.1,2.1\
                      l-4.1-4.1l2.1-2.1l2,2l4.8-4.7l2.1,2.1L-849.5,524.4z')


                  .features__item__title
                    h3.features__item__title__text Конкурентные цены
                  .divider--item
                  a.features__btn.js-more(href="#" data-more-num="3")
                    span Больше
                //- .features__item__more
            i.extra__item.js-extra(href="#" data-more-option="3")
              p 33 Киевская компания по продаже металлопластиковых конструкций "Ventano" уже несколько лет является успешным игроком не только на столичном оконном рынке, но также и во многих городах Киевской области. За долгие годы сложенной работы мы сумели зарекомендовать себя как остветственная компания с высококвалифицированным персоналом и продукцией отличного качества. Однако компания занимается не только продажей металлопластиковых окон и дверей. Мы также продаем москитные сетки на окна в Киеве и предоставляем такую услугу, как изготовление пластиковых окон под заказ. И это также одно из наших приоритетных направлений.
            hr.vdivider

            //- item 04
            .features__item-container.js-feature-item(data-more-container="4")
              .features__item
                .features__item__foreground
                  .features__item__icon
                    //- +svg([{'class': 'icon-features svg-icon', 'pathid': 'svg-features-item', 'filename':'features-item-icon04'}])
                    svg.icon-features#svg-features-item(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-958.3 529 35.3 24', enable-background='new -958.3 529 35.3 24', xml:space='preserve')
                      path(class='icon-element--main' d='M-935,529c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S-928.4,529-935,529z M-935,551\
                      c-5.5,0-10-4.5-10-10s4.5-10,10-10c2.1,0,4.1,0.7,5.7,1.8c0.5,0.3,0.9,0.7,1.3,1.1c1.8,1.8,3,4.4,3,7.1\
                      C-925,546.5-929.5,551-935,551z')
                      path(class='icon-element--main' d='M-948.1,536.4h-6.8c-0.5,0-0.8-0.4-0.8-0.8l0,0c0-0.5,0.4-0.8,0.8-0.8h6.8c0.5,0,0.8,0.4,0.8,0.8l0,0\
                      C-947.2,536.1-947.6,536.4-948.1,536.4z')
                      path(class='icon-element--main' d='M-948.1,547.5h-6.8c-0.5,0-0.8-0.4-0.8-0.8l0,0c0-0.5,0.4-0.8,0.8-0.8h6.8c0.5,0,0.8,0.4,0.8,0.8l0,0\
                      C-947.2,547.1-947.6,547.5-948.1,547.5z')
                      path(class='icon-element--main' d='M-950.6,542h-6.8c-0.5,0-0.8-0.4-0.8-0.8l0,0c0-0.5,0.4-0.8,0.8-0.8h6.8c0.5,0,0.8,0.4,0.8,0.8l0,0\
                      C-949.8,541.6-950.2,542-950.6,542z')
                      path(class='icon-element', d='M-929.2,541.8c-1.9,0.4-6,1.1-6.5,1.1c-0.7,0-1.3-0.6-1.3-1.3c0-0.5,0.8-5.5,1.1-7.4c0-0.2,0.3-0.2,0.3,0\
                      l1,6.2l5.4,1C-929,541.5-929,541.8-929.2,541.8z')


                  .features__item__title
                    h3.features__item__title__text быстрое изготовление
                  .divider--item
                  a.features__btn.js-more(href="#" data-more-num="4")
                    span Больше
                //- .features__item__more

            i.extra__item.js-extra(href="#" data-more-option="4")
              p 44 Киевская компания по продаже металлопластиковых конструкций "Ventano" уже несколько лет является успешным игроком не только на столичном оконном рынке, но также и во многих городах Киевской области. За долгие годы сложенной работы мы сумели зарекомендовать себя как остветственная компания с высококвалифицированным персоналом и продукцией отличного качества. Однако компания занимается не только продажей металлопластиковых окон и дверей. Мы также продаем москитные сетки на окна в Киеве и предоставляем такую услугу, как изготовление пластиковых окон под заказ. И это также одно из наших приоритетных направлений.


// features end
