// slider-sales
.slider-sales
  .shell
    .container
      .range
        ul.slider-sales-wrapper#slider1

          //- item
          li.slider-sales__item
            .slider-sales__item__content
            .slider-sales__item__stock
              .stock__content
                .stock__title
                  span Акция1
                .stock__desc Скидки на окна и двери от 35% до 50%
                fotm.stock__form
                  input.stock__name(placeholder="Ваше имя" type="text")
                  input.stock__phone(placeholder="Ваш номер телефона" type="text")
                  .stock__btn__wrapper
                    button.stock__btn(type="submit") Получить скидку
                a.stock__more(href="#") Просмотреть все акции
              .stock__timer
                .stock__timer-title Времени осталось
                #DateCountdown0(data-date='2016-10-20 00:00:00')

          //- item
          li.slider-sales__item
            .slider-sales__item__content
            .slider-sales__item__stock
              .stock__content
                .stock__title
                  span Акция2
                .stock__desc Скидки на окна и двери от 35% до 50%
                fotm.stock__form
                  input.stock__name(placeholder="Ваше имя" type="text")
                  input.stock__phone(placeholder="Ваш номер телефона" type="text")
                  .stock__btn__wrapper
                    button.stock__btn(type="submit") Получить скидку
                a.stock__more(href="#") Просмотреть все акции
              .stock__timer
                .stock__timer-title Времени осталось
                #DateCountdown1(data-date='2017-10-20 00:00:00')

          //- item
          li.slider-sales__item
            .slider-sales__item__content
            .slider-sales__item__stock
              .stock__content
                .stock__title
                  span Акция3
                .stock__desc Скидки на окна и двери от 35% до 50%
                fotm.stock__form
                  input.stock__name(placeholder="Ваше имя" type="text")
                  input.stock__phone(placeholder="Ваш номер телефона" type="text")
                  .stock__btn__wrapper
                    button.stock__btn(type="submit") Получить скидку
                a.stock__more(href="#") Просмотреть все акции
              .stock__timer
                .stock__timer-title Времени осталось
                #DateCountdown2(data-date='2018-10-20 00:00:00')

          //- item
          li.slider-sales__item
            .slider-sales__item__content
            .slider-sales__item__stock
              .stock__content
                .stock__title
                  span Акция4
                .stock__desc Скидки на окна и двери от 35% до 50%
                fotm.stock__form
                  input.stock__name(placeholder="Ваше имя" type="text")
                  input.stock__phone(placeholder="Ваш номер телефона" type="text")
                  .stock__btn__wrapper
                    button.stock__btn(type="submit") Получить скидку
                a.stock__more(href="#") Просмотреть все акции
              .stock__timer
                .stock__timer-title Времени осталось
                #DateCountdown3(data-date='2019-10-20 00:00:00')

          //- item
          li.slider-sales__item
            .slider-sales__item__content
            .slider-sales__item__stock
              .stock__content
                .stock__title
                  span Акция5
                .stock__desc Скидки на окна и двери от 35% до 50%
                fotm.stock__form
                  input.stock__name(placeholder="Ваше имя" type="text")
                  input.stock__phone(placeholder="Ваш номер телефона" type="text")
                  .stock__btn__wrapper
                    button.stock__btn(type="submit") Получить скидку
                a.stock__more(href="#") Просмотреть все акции
              .stock__timer
                .stock__timer-title Времени осталось
                #DateCountdown4(data-date='2020-10-20 00:00:00')
        .slider-sales-controls
          .slider-sales-controls__left
          .slider-sales-controls__right



        //- controls
        //- .slider-sales__controls

// slider-sales end
