// slider-sales
section.slider-sales
  .shell
    .container
      .range
        ul.slider-sales-wrapper#slider1

          //- item
          li.slider-sales__item
            .slider-sales__item__content
            .slider-sales__item__stock
              .stock__content
                .stock__title
                  span Акция1
                .stock__desc Скидки на окна и двери от 35% до 50%
                fotm.stock__form
                  input.stock__name(placeholder="Имя" type="text")
                  input.stock__phone(placeholder="Ваш номер телефона" type="text")
                  .stock__btn__wrapper
                    button.stock__btn(type="submit") Заказать

          //- item
          li.slider-sales__item
            .slider-sales__item__content
            .slider-sales__item__stock
              .stock__content
                .stock__title
                  span Акция2
                .stock__desc Скидки на окна и двери от 35% до 50%
                fotm.stock__form
                  input.stock__name(placeholder="Имя" type="text")
                  input.stock__phone(placeholder="Ваш номер телефона" type="text")
                  .stock__btn__wrapper
                    button.stock__btn(type="submit") Заказать

          //- item
          li.slider-sales__item
            .slider-sales__item__content
            .slider-sales__item__stock
              .stock__content
                .stock__title
                  span Акция3
                .stock__desc Скидки на окна и двери от 35% до 50%
                fotm.stock__form
                  input.stock__name(placeholder="Имя" type="text")
                  input.stock__phone(placeholder="Ваш номер телефона" type="text")
                  .stock__btn__wrapper
                    button.stock__btn(type="submit") Заказать

          //- item
          li.slider-sales__item
            .slider-sales__item__content
            .slider-sales__item__stock
              .stock__content
                .stock__title
                  span Акция4
                .stock__desc Скидки на окна и двери от 35% до 50%
                fotm.stock__form
                  input.stock__name(placeholder="Имя" type="text")
                  input.stock__phone(placeholder="Ваш номер телефона" type="text")
                  .stock__btn__wrapper
                    button.stock__btn(type="submit") Заказать

          //- item
          li.slider-sales__item
            .slider-sales__item__content
            .slider-sales__item__stock
              .stock__content
                .stock__title
                  span Акция5
                .stock__desc Скидки на окна и двери от 35% до 50%
                fotm.stock__form
                  input.stock__name(placeholder="Имя" type="text")
                  input.stock__phone(placeholder="Ваш номер телефона" type="text")
                  .stock__btn__wrapper
                    button.stock__btn(type="submit") Заказать
        .slider-sales-controls
          .slider-sales-controls__left
          .slider-sales-controls__right



        //- controls
        //- .slider-sales__controls

// slider-sales end
