// choose
.choose__top-row
section.choose
  .shell
    .container
      .range
        .choose-essence



          //- LEFT menu
          //- ---------------------------------------------
          .choose-menu.desktop-menu
            h2.choose-menu__title Выберите систему:
            ul.choose-menu__list.js-tabs#menu_tabs

              //- item
              li.choose-menu__item(data-pos="m1_submenu_01")
                a.choose-menu__link
                  .choose-menu__link__img
                  .choose-menu__link__text Окна
                //- sub menu
                ul.choose-menu__sublist
                  li.choose-menu__subitem(data-id="m1_submenu_01")
                    a.choose-menu__sublink ПВХ-профиль
                  li.choose-menu__subitem(data-id="m1_submenu_02")
                    a.choose-menu__sublink Стеклопакеты
                  li.choose-menu__subitem(data-id="m1_submenu_03")
                    a.choose-menu__sublink Фурнитура
                  li.choose-menu__subitem(data-id="m1_submenu_04")
                    a.choose-menu__sublink Подоконники
                  li.choose-menu__subitem(data-id="m1_submenu_05")
                    a.choose-menu__sublink Отливы и козырьки
                  li.choose-menu__subitem(data-id="m1_submenu_06")
                    a.choose-menu__sublink Москитные сетки
                  li.choose-menu__subitem(data-id="m1_submenu_07")
                    a.choose-menu__sublink Структура окна


              //- item
              li.choose-menu__item(data-pos="m2_submenu_01")
                a.choose-menu__link
                  .choose-menu__link__img
                  .choose-menu__link__text Двери
                //- sub menu
                ul.choose-menu__sublist
                  li.choose-menu__subitem(data-id="m2_submenu_01")
                    a.choose-menu__sublink submenu_01
                  li.choose-menu__subitem(data-id="m2_submenu_02")
                    a.choose-menu__sublink submenu_02
                  li.choose-menu__subitem(data-id="m2_submenu_03")
                    a.choose-menu__sublink submenu_03
                  li.choose-menu__subitem(data-id="m2_submenu_04")
                    a.choose-menu__sublink submenu_04
                  li.choose-menu__subitem(data-id="m2_submenu_05")
                    a.choose-menu__sublink submenu_05
                  li.choose-menu__subitem(data-id="m2_submenu_06")
                    a.choose-menu__sublink submenu_06
                  li.choose-menu__subitem(data-id="m2_submenu_07")
                    a.choose-menu__sublink submenu_07
                  li.choose-menu__subitem(data-id="m2_submenu_08")
                    a.choose-menu__sublink submenu_08





                //- sub menu
                //- ul.choose-menu__sublist
                //-   li.choose-menu__subitem(data-id="prod-second")
                //-     a.choose-menu__sublink Система Evolution (3&nbsp;камеры&nbsp;/&nbsp;60мм)
                //-   li.choose-menu__subitem.active(data-id="prod-third")
                //-     a.choose-menu__sublink Система Effectiv (5&nbsp;камер&nbsp;/&nbsp;70мм)


              //- item 03
              li.choose-menu__item(data-pos="m3_submenu_01")
                a.choose-menu__link
                  .choose-menu__link__img
                  .choose-menu__link__text Остекление балконов
                  //- sub menu
                  //- ul.choose-menu__sublist
                  //-   li.choose-menu__subitem
                  //-     a.choose-menu__sublink


              //- item 04
              li.choose-menu__item(data-pos="m4_submenu_01")
                a.choose-menu__link
                  .choose-menu__link__img
                  .choose-menu__link__text Раздвижные системы
                //- sub menu
                ul.choose-menu__sublist
                  li.choose-menu__subitem(data-id="m4_submenu_01")
                    a.choose-menu__sublink m4_submenu_01
                  li.choose-menu__subitem(data-id="m4_submenu_02")
                    a.choose-menu__sublink m4_submenu_02


              //- item 05
              li.choose-menu__item(data-pos="m5_submenu_01")
                a.choose-menu__link
                  .choose-menu__link__img
                  .choose-menu__link__text m5_submenu_01
                  //- sub menu
                  //- ul.choose-menu__sublist
                  //-   li.choose-menu__subitem
                  //-     a.choose-menu__sublink


              //- item 06
              li.choose-menu__item(data-pos="m6_submenu_01")
                a.choose-menu__link
                  .choose-menu__link__img
                  .choose-menu__link__text m6_submenu_01
                  //- sub menu
                  //- ul.choose-menu__sublist
                  //-   li.choose-menu__subitem
                  //-     a.choose-menu__sublink


          // eof desktop-menu


























          //- RIGHT content
          //- ---------------------------------------------
          .choose-content.tablet-related-content

            //- transform-title
            .choose-transform__menu-title-wrapper
              h2.choose-transform__menu-title Выберите систему:
            //- transform-title END


            //- transform-item
            //- item No 001
            .choose-menu__item.transform.man-item-1(data-pos="m1_submenu_01")
              a.choose-menu__link.transform
                .choose-menu__link__img.transform
                .choose-menu__link__text.transform Окна
              //- sub menu
              ul.choose-menu__sublist.transform
                //- EXPAND ITEM:
                li.jsFaqItem.choose-menu__subitem.transform(data-id="m1_submenu_01")
                  //- необходимо инкапсулировать ссылку, т.к. элементы должны быть все в потоке.
                  a.t-link
                    .choose-menu__sublink.transform ПВХ-профиль

                .js-item-content.choose-content__wrapper.transform#m1_submenu_01
                  .choose-content__ribbon(absolute)
                    .choose-content__ribbon__text tab 'm1_submenu_01'
                  include 03-1_right-cont-inner.pug
                  //- ////EXPAND ITEM eof


                //- EXPAND ITEM:
                //- parent:::
                li.jsFaqItem.choose-menu__subitem.transform(data-id="m1_submenu_02")
                  //- onclick title:::
                  a.t-link
                    .choose-menu__sublink.transform Стеклопакеты
                  //- slide content:::
                  //- transform-item EOF

                .js-item-content.choose-content__wrapper.transform#m1_submenu_02
                  .choose-content__ribbon(absolute)
                    .choose-content__ribbon__text tab 'm1_submenu_02'
                  include 03-1_right-cont-inner.pug
                  //- ////EXPAND ITEM eof


                //- EXPAND ITEM:
                //- parent:::
                li.jsFaqItem.choose-menu__subitem.transform(data-id="m1_submenu_03")
                  //- onclick title:::
                  a.t-link
                    .choose-menu__sublink.transform Фурнитура
                  //- slide content:::
                  //- transform-item EOF

                .js-item-content.choose-content__wrapper.transform#m1_submenu_03
                  .choose-content__ribbon(absolute)
                    .choose-content__ribbon__text tab 'm1_submenu_03'
                  include 03-1_right-cont-inner.pug
                  //- ////EXPAND ITEM eof


                //- EXPAND ITEM:
                //- parent:::
                li.jsFaqItem.choose-menu__subitem.transform(data-id="m1_submenu_04")
                  //- onclick title:::
                  a.t-link
                    .choose-menu__sublink.transform Подоконники
                  //- slide content:::
                  //- transform-item EOF

                .js-item-content.choose-content__wrapper.transform#m1_submenu_04
                  .choose-content__ribbon(absolute)
                    .choose-content__ribbon__text tab 'm1_submenu_04'
                  include 03-1_right-cont-inner.pug
                  //- ////EXPAND ITEM eof


                //- EXPAND ITEM:
                //- parent:::
                li.jsFaqItem.choose-menu__subitem.transform(data-id="m1_submenu_05")
                  //- onclick title:::
                  a.t-link
                    .choose-menu__sublink.transform Отливы и козырьки
                  //- slide content:::
                  //- transform-item EOF

                .js-item-content.choose-content__wrapper.transform#m1_submenu_05
                  .choose-content__ribbon(absolute)
                    .choose-content__ribbon__text tab 'm1_submenu_05'
                  include 03-1_right-cont-inner.pug
                  //- ////EXPAND ITEM eof


                //- EXPAND ITEM:
                //- parent:::
                li.jsFaqItem.choose-menu__subitem.transform(data-id="m1_submenu_06")
                  //- onclick title:::
                  a.t-link
                    .choose-menu__sublink.transform Москитные сетки
                  //- slide content:::
                  //- transform-item EOF

                .js-item-content.choose-content__wrapper.transform#m1_submenu_06
                  .choose-content__ribbon(absolute)
                    .choose-content__ribbon__text tab 'm1_submenu_06'
                  include 03-1_right-cont-inner.pug
                  //- ////EXPAND ITEM eof


                //- EXPAND ITEM:
                //- parent:::
                li.jsFaqItem.choose-menu__subitem.transform(data-id="m1_submenu_07")
                  //- onclick title:::
                  a.t-link
                    .choose-menu__sublink.transform Структура окна
                  //- slide content:::
                  //- transform-item EOF

                .js-item-content.choose-content__wrapper.transform#m1_submenu_07
                  .choose-content__ribbon(absolute)
                    .choose-content__ribbon__text tab 'm1_submenu_07'
                  include 03-1_right-cont-inner.pug
                  //- ////EXPAND ITEM eof


            //- transform
            //- item No 002
            .choose-menu__item.transform.man-item-2(data-pos="m2_submenu_01")
              a.choose-menu__link.transform
                .choose-menu__link__img.transform
                .choose-menu__link__text.transform Двери
              //- sub menu
              ul.choose-menu__sublist.transform
                li.jsFaqItem.choose-menu__subitem.transform(data-id="m2_submenu_01")
                  a.t-link
                    .choose-menu__sublink.transform submenu_01
                .js-item-content.choose-content__wrapper.transform#m2_submenu_01
                  .choose-content__ribbon(absolute)
                    .choose-content__ribbon__text tab 'm2_submenu_01'
                  include 03-1_right-cont-inner.pug


                li.jsFaqItem.choose-menu__subitem.transform(data-id="m2_submenu_02")
                  a.t-link
                    .choose-menu__sublink.transform submenu_02
                .js-item-content.choose-content__wrapper.transform#m2_submenu_02
                  .choose-content__ribbon(absolute)
                    .choose-content__ribbon__text tab 'm2_submenu_02'
                  include 03-1_right-cont-inner.pug


                li.jsFaqItem.choose-menu__subitem.transform(data-id="m2_submenu_03")
                  a.t-link
                    .choose-menu__sublink.transform submenu_03
                .js-item-content.choose-content__wrapper.transform#m2_submenu_03
                  .choose-content__ribbon(absolute)
                    .choose-content__ribbon__text tab 'm2_submenu_03'
                  include 03-1_right-cont-inner.pug


                li.jsFaqItem.choose-menu__subitem.transform(data-id="m2_submenu_04")
                  a.t-link
                    .choose-menu__sublink.transform submenu_04
                .js-item-content.choose-content__wrapper.transform#m2_submenu_04
                  .choose-content__ribbon(absolute)
                    .choose-content__ribbon__text tab 'm2_submenu_04'
                  include 03-1_right-cont-inner.pug


                li.jsFaqItem.choose-menu__subitem.transform(data-id="m2_submenu_05")
                  a.t-link
                    .choose-menu__sublink.transform submenu_05
                .js-item-content.choose-content__wrapper.transform#m2_submenu_05
                  .choose-content__ribbon(absolute)
                    .choose-content__ribbon__text tab 'm2_submenu_05'
                  include 03-1_right-cont-inner.pug


                li.jsFaqItem.choose-menu__subitem.transform(data-id="m2_submenu_06")
                  a.t-link
                    .choose-menu__sublink.transform submenu_06
                .js-item-content.choose-content__wrapper.transform#m2_submenu_06
                  .choose-content__ribbon(absolute)
                    .choose-content__ribbon__text tab 'm2_submenu_06'
                  include 03-1_right-cont-inner.pug


                li.jsFaqItem.choose-menu__subitem.transform(data-id="m2_submenu_07")
                  a.t-link
                    .choose-menu__sublink.transform submenu_07
                .js-item-content.choose-content__wrapper.transform#m2_submenu_07
                  .choose-content__ribbon(absolute)
                    .choose-content__ribbon__text tab 'm2_submenu_07'
                  include 03-1_right-cont-inner.pug


                li.jsFaqItem.choose-menu__subitem.transform(data-id="m2_submenu_08")
                  a.t-link
                    .choose-menu__sublink.transform submenu_08 submenu_08 submenu_08 submenu_08
                .js-item-content.choose-content__wrapper.transform#m2_submenu_08
                  .choose-content__ribbon(absolute)
                    .choose-content__ribbon__text tab 'm2_submenu_08'
                  include 03-1_right-cont-inner.pug

            //- item No 003
            .choose-menu__item.transform.man-item-3(data-pos="m3_submenu_01")
              a.choose-menu__link.transform
                .choose-menu__link__img.transform
                .choose-menu__link__text.transform Остекление<br> балконов
              //- sub menu
              ul.choose-menu__sublist.transform
                li.jsFaqItem.choose-menu__subitem.transform(data-id="m3_submenu_01")
                  a.t-link
                    .choose-menu__sublink.transform m3_submenu_01
                .js-item-content.choose-content__wrapper.transform#m3_submenu_01
                  .choose-content__ribbon(absolute)
                    .choose-content__ribbon__text tab 'm3_submenu_01'
                  include 03-1_right-cont-inner.pug

            //- item No 004
            .choose-menu__item.transform.man-item-4(data-pos="m4_submenu_01")
              a.choose-menu__link.transform
                .choose-menu__link__img.transform
                .choose-menu__link__text.transform Раздвижные<br> системы
              //- sub menu
              ul.choose-menu__sublist.transform
                li.jsFaqItem.choose-menu__subitem.transform(data-id="m4_submenu_01")
                  a.t-link
                    .choose-menu__sublink.transform m4_submenu_01
                .js-item-content.choose-content__wrapper.transform#m4_submenu_01
                  .choose-content__ribbon(absolute)
                    .choose-content__ribbon__text tab 'm4_submenu_01'
                  include 03-1_right-cont-inner.pug


                li.jsFaqItem.choose-menu__subitem.transform(data-id="m4_submenu_02")
                  a.t-link
                    .choose-menu__sublink.transform m4_submenu_02
                .js-item-content.choose-content__wrapper.transform#m4_submenu_02
                  .choose-content__ribbon(absolute)
                    .choose-content__ribbon__text tab 'm4_submenu_02'
                  include 03-1_right-cont-inner.pug


            //- item No 005
            .choose-menu__item.transform.man-item-5(data-pos="m5_submenu_01")
              a.choose-menu__link.transform
                .choose-menu__link__img.transform
                .choose-menu__link__text.transform Ламинированные<br> окна
              //- sub menu
              ul.choose-menu__sublist.transform
                li.jsFaqItem.choose-menu__subitem.transform(data-id="m5_submenu_01")
                  a.t-link
                    .choose-menu__sublink.transform m5_submenu_01
                .js-item-content.choose-content__wrapper.transform#m5_submenu_01
                  .choose-content__ribbon(absolute)
                    .choose-content__ribbon__text tab 'm5_submenu_01'
                  include 03-1_right-cont-inner.pug


                li.jsFaqItem.choose-menu__subitem.transform(data-id="m5_submenu_02")
                  a.t-link
                    .choose-menu__sublink.transform m5_submenu_02
                .js-item-content.choose-content__wrapper.transform#m5_submenu_02
                  .choose-content__ribbon(absolute)
                    .choose-content__ribbon__text tab 'm5_submenu_02'
                  include 03-1_right-cont-inner.pug


            //- item No 006
            .choose-menu__item.transform.man-item-6(data-pos="m6_submenu_01")
              a.choose-menu__link.transform
                .choose-menu__link__img.transform
                .choose-menu__link__text.transform Нестандартные<br> конструкции
              //- sub menu
              ul.choose-menu__sublist.transform
                li.jsFaqItem.choose-menu__subitem.transform(data-id="m6_submenu_01")
                  a.t-link
                    .choose-menu__sublink.transform m6_submenu_01
                .js-item-content.choose-content__wrapper.transform#m6_submenu_01
                  .choose-content__ribbon(absolute)
                    .choose-content__ribbon__text tab 'm6_submenu_01'
                  include 03-1_right-cont-inner.pug


                li.jsFaqItem.choose-menu__subitem.transform(data-id="m6_submenu_02")
                  a.t-link
                    .choose-menu__sublink.transform m6_submenu_02
                .js-item-content.choose-content__wrapper.transform#m6_submenu_02
                  .choose-content__ribbon(absolute)
                    .choose-content__ribbon__text tab 'm6_submenu_02'
                  include 03-1_right-cont-inner.pug













            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper.jsWideOnly#m1_submenu_02
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'm1_submenu_02'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper.jsWideOnly#prod-bliz
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'bliz'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper.jsWideOnly#prod-delight
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'delight'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper.jsWideOnly#prod-euro3
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'euro3'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper.jsWideOnly#prod-euro5
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'euro5'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper.jsWideOnly#prod-sib
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'sib'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper.jsWideOnly#prod-brilliant
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'brilliant'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper.jsWideOnly#prod-geneo
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'geneo'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper.jsWideOnly#prod-intelio
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'intelio'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper.jsWideOnly#prod-galwin
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'galwin'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper.jsWideOnly#prod-quadro
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'quadro'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper.jsWideOnly.active#prod-deceuninck
              .choose-content__ribbon(absolute)
                //- .choose-content__ribbon__text tab 'deceuninck'
              include 03-1_right-cont-inner.pug







            //- //- ORIGIN
            //- .choose-content__wrapper.active#prod-third
            //-
            //-   .choose-content__ribbon(absolute)
            //-     .choose-content__ribbon__text Artec Effective
            //-
            //-   include 03-1_right-cont-inner



// choose end
