// consultation
section.choose-consultation
  .shell
    .container
      .range
        .consultation-essence


          h2.consultation-title Оставьте контакты для консультации:
          form.consultation-form
            input.consultation-input(placeholder="Имя" type="text")
            input.consultation-input(placeholder="Ваш номер телефона" type="text")
            button.consultation-btn.request-callback(type="submit") Заказать

// consultation end
