// gallery
.gallery
  .shell
    .container
      .range

        //- title
        .gallery-title
          h3.gallery-title-text Посмотрите наши обьекты


        #gallery-smooth
          .gallery-essence


            .row-1
              .col.col-1
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_01.jpg")
                    img(src="img/gallery-smooth_01.jpg")
              .col.col-2
                .gallery__item.gallery__item-contended.gallery-contended--right
                  .gallery__item__content.gallery__item__content--small
                    .gallery__item__title Новостройка на брелова
                    .gallery__item__text предназначена для того, чтобы производить открытие/закрытие створки окна.
                .gallery__item.gallery__item-contended.gallery-contended--right
                  .gallery__item__content.gallery__item__content--small
                    .gallery__item__title Новостройка на щеглова
                    .gallery__item__text предназначена для того, чтобы производить открытие/закрытие створки окна.
              .col.col-3
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_02.jpg")
                    img(src="img/gallery-smooth_02.jpg")
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_03.jpg")
                    img(src="img/gallery-smooth_03.jpg")
            .row-2
              .col-s
                .gallery__item.gallery__item-contended.gallery-contended--top
                  .gallery__item__content.gallery__item__content--medium
                    .gallery__item__title Новостройка на пономарёво
                    .gallery__item__text предназначена для того, чтобы производить открытие/закрытие створки окна относительно вертикальной оси. Данный, всем привычный вариант открытия, обеспечивает фурнитура двух типов: правосторонняя и левосторонняя.
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_04.jpg")
                    img(src="img/gallery-smooth_04.jpg")
                .gallery__item.gallery__item-contended.gallery-contended--left
                  .gallery__item__content.gallery__item__content--medium
                    .gallery__item__title Новостройка на сытова
                    .gallery__item__text Как правило, выполнены из дерева, имеют деревянные перекрытия и оштукатуренные стены. Особенность таких домов в том, что оконная конструкция сильно отличается по размеру от самого оконного проёма. Это объясняется особенностью технологии того времени: в оконный проём вставляли раму из толстого бруса и наносился большой слой штукатурки. Естественно, время сказалось на окнах, древесина деформировалась и прогнила.
          .gallery-essence


            .row-1
              .col.col-1
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_01.jpg")
                    img(src="img/gallery-smooth_01.jpg")
              .col.col-2
                .gallery__item.gallery__item-contended.gallery-contended--right
                  .gallery__item__content.gallery__item__content--small
                    .gallery__item__title Новостройка на брелова
                    .gallery__item__text предназначена для того, чтобы производить открытие/закрытие створки окна.
                .gallery__item.gallery__item-contended.gallery-contended--right
                  .gallery__item__content.gallery__item__content--small
                    .gallery__item__title Новостройка на щеглова
                    .gallery__item__text предназначена для того, чтобы производить открытие/закрытие створки окна.
              .col.col-3
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_02.jpg")
                    img(src="img/gallery-smooth_02.jpg")
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_03.jpg")
                    img(src="img/gallery-smooth_03.jpg")
            .row-2
              .col-s
                .gallery__item.gallery__item-contended.gallery-contended--top
                  .gallery__item__content.gallery__item__content--medium
                    .gallery__item__title Новостройка на пономарёво
                    .gallery__item__text предназначена для того, чтобы производить открытие/закрытие створки окна относительно вертикальной оси. Данный, всем привычный вариант открытия, обеспечивает фурнитура двух типов: правосторонняя и левосторонняя.
                .gallery__item
                  a.gallery__full(href="img/gallery-smooth_04.jpg")
                    img(src="img/gallery-smooth_04.jpg")
                .gallery__item.gallery__item-contended.gallery-contended--left
                  .gallery__item__content.gallery__item__content--medium
                    .gallery__item__title Новостройка на сытова
                    .gallery__item__text Как правило, выполнены из дерева, имеют деревянные перекрытия и оштукатуренные стены. Особенность таких домов в том, что оконная конструкция сильно отличается по размеру от самого оконного проёма. Это объясняется особенностью технологии того времени: в оконный проём вставляли раму из толстого бруса и наносился большой слой штукатурки. Естественно, время сказалось на окнах, древесина деформировалась и прогнила.

// gallery end
