// feedbacks
section.feedbacks
  .shell
    .container
      .range
        .feedbacks-essence


          //- title
          .feedbacks-title
            h3.feedbacks-title-text Что о нас говорят

          .slider-stage

            .slider#carousel



              //- item
              .slider-item
                .slider-item__content
                  .slider-item__inner
                    p Спасибо сотрудникам компании, которые не только грамотно провели все работы по установке пластиковых окон в комнату, но и дали дельные советы в процессе работы как ухаживать за окнами.Сотрудничеством очень доволен ...
                  .expand
                    a.show-all посмотреть все отзывы
                .slider-item-author
                  .slider-item-author__photo
                    img.slider-item-author__img(src="img/feedbacks_author-photo-01.png")
                  .slider-item-author__name Владимир Михайлов


              //- item
              .slider-item(class='active')
                .slider-item__content
                  blockquote.slider-item__inner
                    p Потребность в замене окон на балконе возникла, когда я переехал в новую квартиру. В данную компанию обратилась в первый раз. Для меня очень важно, как со мной общаются, и какой уровень сервиса мне предлагают. Менеджер очень доходчиво и профессионально рассказал об окнах, подобрал оптимальную конфигурацию для моей квартиры. Конфигурация остекления балкона: ПРОФИЛЬ: REHAU ECOSOL-DESIGN 70, СТЕКЛОПАКЕТ
                    date Пётр, апрель 2016
                  .expand
                    a.show-all посмотреть все отзывы
                .slider-item-author
                  .slider-item-author__photo
                    img.slider-item-author__img(src="img/feedbacks_author-photo-01.png")
                  .slider-item-author__name Александр Васильев


              //- item
              .slider-item
                .slider-item__content
                  .slider-item__inner
                    p Спасибо сотрудникам компании, которые не только грамотно провели все работы по установке пластиковых окон в комнату, но и дали дельные советы в процессе работы как ухаживать за окнами.Сотрудничеством очень доволен ...
                  .expand
                    a.show-all посмотреть все отзывы
                .slider-item-author
                  .slider-item-author__photo
                    img.slider-item-author__img(src="img/feedbacks_author-photo-01.png")
                  .slider-item-author__name Александр Васильев

            //- .controls
            //-   a.controls-prev#prev(href="#")
            //-   a.controls-next#next(href="#")



            //- .slider-controls
            .slider-controls__arrow.left#prev(href="#")
            .slider-controls__arrow.right#next(href="#")



          //- content
            //- slider
          //- .feedbacks-slider
// feedbacks end
