// certification
section.certification
  .shell
    .container
      .range
        .certification-essence


          //- title
          .certification-title
            h3.certification-title-text Наши сертификаты

          .certification-sub-title
            | Надир, несмотря на внешние воздействия, выслеживает непреложный лимб. Как было показано выше, планета параллельна. Как было показано выше, противостояние пространственно неоднородно. Зенитное часовое число иллюстрирует радиант.

          .slider-stage

            .slider#certification-carousel



              //- item
              .slider-item
                .slider-item__content
                  img.slider-item-author__img(src="img/certification-expanded.jpg")
                a(data-fancybox="gallery" href="img/certification-expanded.jpg")
                  .expand(href="javascript:void(0)")

              //- item
              .slider-item
                .slider-item__content
                  img.slider-item-author__img(src="img/certification-expanded.jpg")
                a(data-fancybox="gallery" href="img/certification-expanded.jpg")
                  .expand(href="javascript:void(0)")

              //- item
              .slider-item
                .slider-item__content
                  img.slider-item-author__img(src="img/certification-expanded.jpg")
                a(data-fancybox="gallery" href="img/certification-expanded.jpg")
                  .expand(href="javascript:void(0)")

            //- .controls
            //-   a.controls-prev#prev(href="#")
            //-   a.controls-next#next(href="#")



            .slider-controls-divider
            .slider-controls__arrow.left#certification-carousel-prev(href="#")
            .slider-controls__arrow.right#certification-carousel-next(href="#")

          //- content
            //- slider
          //- .certification-slider
// certification end
