// consultation
section.consultation
  .shell
    .container
      .range
        .consultation-essence


          h2.consultation-title Заказать бесплатную консультацию
          form.consultation-form
            input.consultation-input(placeholder="Имя" type="text")
            input.consultation-input(placeholder="Ваш номер телефона" type="text")
            button.consultation-btn.request-callback(type="submit") Заказать

// consultation end
