// contacts
section.contacts
  .shell
    .container
      .range
        .contacts-wrapper

          //- title
          .contacts-title
            h2.contacts-title-text Наши контакты
            hr.divider

          .contacts-content

            //- 1
            .contacts-content-row
              .contacts-content-item.contacts-content-map
                #map01
                script.


              .contacts-content-item.contacts-content-desc
                .contacts-content-desc-container
                  .contacts-content-item-title Наш офис 2
                  .contacts-content-item-address
                    .contacts-content-item-address-title адрес
                    .contacts-content-item-address-text  г. Алматы, ул. Тимирязева 17, офис&nbsp;27
                  .contacts-content-item-phone
                    .contacts-content-item-phone-title телефон
                    .contacts-content-item-phone-text (727) 266-288-6, (727) 266-288-7


          script.

            var map01, map02, map03, map04;
            function initMap() {
              map01 = new google.maps.Map(document.getElementById('map01'), {
                center: {lat: 43.228318, lng: 76.8192548},
                zoom: 11,
                scrollwheel:  false,
                styles: [{"featureType":"all","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#242f3e"}]},{"featureType":"all","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#746855"}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#242f3e"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#242f3e"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#746855"}]},{"featureType":"administrative","elementType":"labels.text.stroke","stylers":[{"color":"#242f3e"}]},{"featureType":"administrative.locality","elementType":"labels.text.fill","stylers":[{"color":"#d59563"},{"visibility":"on"}]},{"featureType":"administrative.neighborhood","elementType":"labels.icon","stylers":[{"hue":"#ff0000"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#d59563"}]},{"featureType":"poi","elementType":"labels.text.fill","stylers":[{"color":"#d59563"},{"visibility":"on"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#263c3f"}]},{"featureType":"poi.park","elementType":"labels.text.fill","stylers":[{"color":"#6b9a76"},{"visibility":"on"}]},{"featureType":"poi.park","elementType":"labels.text.stroke","stylers":[{"hue":"#ff0000"}]},{"featureType":"road","elementType":"geometry","stylers":[{"color":"#38414e"}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#212a37"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#9ca5b3"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#29a7df"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#1f2835"}]},{"featureType":"road.highway","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#f3d19c"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#2f3948"}]},{"featureType":"transit.station","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#d59563"}]},{"featureType":"water","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#17263c"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#00537b"}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#515c6d"}]},{"featureType":"water","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#17263c"}]}]
              });
              //- map02 = new google.maps.Map(document.getElementById('map02'), {
              //-   center: {lat: 43.228318, lng: 76.8192548},
              //-   zoom: 11,
              //-   scrollwheel:  false,
              //-   styles: [{"featureType":"all","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#242f3e"}]},{"featureType":"all","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#746855"}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#242f3e"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#242f3e"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#746855"}]},{"featureType":"administrative","elementType":"labels.text.stroke","stylers":[{"color":"#242f3e"}]},{"featureType":"administrative.locality","elementType":"labels.text.fill","stylers":[{"color":"#d59563"},{"visibility":"on"}]},{"featureType":"administrative.neighborhood","elementType":"labels.icon","stylers":[{"hue":"#ff0000"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#d59563"}]},{"featureType":"poi","elementType":"labels.text.fill","stylers":[{"color":"#d59563"},{"visibility":"on"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#263c3f"}]},{"featureType":"poi.park","elementType":"labels.text.fill","stylers":[{"color":"#6b9a76"},{"visibility":"on"}]},{"featureType":"poi.park","elementType":"labels.text.stroke","stylers":[{"hue":"#ff0000"}]},{"featureType":"road","elementType":"geometry","stylers":[{"color":"#38414e"}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#212a37"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#9ca5b3"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#29a7df"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#1f2835"}]},{"featureType":"road.highway","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#f3d19c"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#2f3948"}]},{"featureType":"transit.station","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#d59563"}]},{"featureType":"water","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#17263c"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#00537b"}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#515c6d"}]},{"featureType":"water","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#17263c"}]}]
              //- });
              //- map03 = new google.maps.Map(document.getElementById('map03'), {
              //-   center: {lat: 43.228318, lng: 76.8192548},
              //-   zoom: 11,
              //-   scrollwheel:  false,
              //-   styles: [{"featureType":"all","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#242f3e"}]},{"featureType":"all","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#746855"}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#242f3e"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#242f3e"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#746855"}]},{"featureType":"administrative","elementType":"labels.text.stroke","stylers":[{"color":"#242f3e"}]},{"featureType":"administrative.locality","elementType":"labels.text.fill","stylers":[{"color":"#d59563"},{"visibility":"on"}]},{"featureType":"administrative.neighborhood","elementType":"labels.icon","stylers":[{"hue":"#ff0000"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#d59563"}]},{"featureType":"poi","elementType":"labels.text.fill","stylers":[{"color":"#d59563"},{"visibility":"on"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#263c3f"}]},{"featureType":"poi.park","elementType":"labels.text.fill","stylers":[{"color":"#6b9a76"},{"visibility":"on"}]},{"featureType":"poi.park","elementType":"labels.text.stroke","stylers":[{"hue":"#ff0000"}]},{"featureType":"road","elementType":"geometry","stylers":[{"color":"#38414e"}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#212a37"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#9ca5b3"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#29a7df"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#1f2835"}]},{"featureType":"road.highway","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#f3d19c"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#2f3948"}]},{"featureType":"transit.station","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#d59563"}]},{"featureType":"water","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#17263c"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#00537b"}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#515c6d"}]},{"featureType":"water","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#17263c"}]}]
              //- });
              //- map04 = new google.maps.Map(document.getElementById('map04'), {
              //-   center: {lat: 43.228318, lng: 76.8192548},
              //-   zoom: 11,
              //-   scrollwheel:  false,
              //-   styles: [{"featureType":"all","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#242f3e"}]},{"featureType":"all","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#746855"}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#242f3e"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#242f3e"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#746855"}]},{"featureType":"administrative","elementType":"labels.text.stroke","stylers":[{"color":"#242f3e"}]},{"featureType":"administrative.locality","elementType":"labels.text.fill","stylers":[{"color":"#d59563"},{"visibility":"on"}]},{"featureType":"administrative.neighborhood","elementType":"labels.icon","stylers":[{"hue":"#ff0000"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#d59563"}]},{"featureType":"poi","elementType":"labels.text.fill","stylers":[{"color":"#d59563"},{"visibility":"on"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#263c3f"}]},{"featureType":"poi.park","elementType":"labels.text.fill","stylers":[{"color":"#6b9a76"},{"visibility":"on"}]},{"featureType":"poi.park","elementType":"labels.text.stroke","stylers":[{"hue":"#ff0000"}]},{"featureType":"road","elementType":"geometry","stylers":[{"color":"#38414e"}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#212a37"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#9ca5b3"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#29a7df"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#1f2835"}]},{"featureType":"road.highway","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#f3d19c"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#2f3948"}]},{"featureType":"transit.station","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#d59563"}]},{"featureType":"water","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#17263c"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#00537b"}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#515c6d"}]},{"featureType":"water","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#17263c"}]}]
              //- });

              var image = 'img/map-marker.png'; // marker pic here

              var marker01 = new google.maps.Marker({
                  position: new google.maps.LatLng(43.228318, 76.8192548),
                  map: map01,
                  icon: image,
                  animation: google.maps.Animation.DROP, // initially типо красиво падает на карту
                  //- title: 'Snazzy!'
              });

              //- var marker02 = new google.maps.Marker({
              //-     position: new google.maps.LatLng(43.228318, 76.8192548),
              //-     map: map02,
              //-     icon: image,
              //-     animation: google.maps.Animation.DROP, // initially типо красиво падает на карту
              //-     //- title: 'Snazzy!'
              //- });
              //-
              //- var marker03 = new google.maps.Marker({
              //-     position: new google.maps.LatLng(43.228318, 76.8192548),
              //-     map: map03,
              //-     icon: image,
              //-     animation: google.maps.Animation.DROP, // initially типо красиво падает на карту
              //-     //- title: 'Snazzy!'
              //- });
              //-
              //- var marker04 = new google.maps.Marker({
              //-     position: new google.maps.LatLng(43.228318, 76.8192548),
              //-     map: map04,
              //-     icon: image,
              //-     animation: google.maps.Animation.DROP, // initially типо красиво падает на карту
              //-     //- title: 'Snazzy!'
              //- });

              google.maps.event.addListener(map01, 'idle', function () {
                marker01.setAnimation(google.maps.Animation.BOUNCE);
              });

              //- google.maps.event.addListener(map02, 'idle', function () {
              //-   marker02.setAnimation(google.maps.Animation.BOUNCE);
              //- });
              //-
              //- google.maps.event.addListener(map03, 'idle', function () {
              //-   marker03.setAnimation(google.maps.Animation.BOUNCE);
              //- });
              //-
              //- google.maps.event.addListener(map04, 'idle', function () {
              //-   marker04.setAnimation(google.maps.Animation.BOUNCE);
              //- });

              //- })();

              }



// contacts end
