footer.footer
  .shell
    .container
      .footer-essence


        //- menus
        .row
          .col-1.col
            .footer-box
              //- callback
              .footer__callback
                h4.footer__title Гарячая линия:
                ul.list-unstyled
                  li.footer__callback__phone: span +38 044 200-00-84
                  li.footer__callback__phone: span +38 067 406-63-28
                  li.footer__callback__phone: span +38 044 332-68-65
                  li.footer__callback__phone: span +38 044 592-80-55

          .col-2.col
            .footer-box
              //- addresses
              .footer__address
                h4.footer__title Адрес нашего офиса:
                .footer__address__item
                  .footer__address__item__city г. Киев
                  .footer__address__item__streets бульвар Дружбы Народов 23, офис 23

            .footer-box
              //- socials
              .footer__socials
                h4.footer__title Мы в социальных сетях:
                .footer__socials-wrapper
                  a.footer__socials__item(href="javascript:void(0)")
                    +svg([{'class': 'icon-socials-fb svg-icon', 'pathid': 'svg-socials-item', 'filename':'footer-socials-fb'}])
                  a.footer__socials__item(href="javascript:void(0)")
                    +svg([{'class': 'icon-socials-vk svg-icon', 'pathid': 'svg-socials-item', 'filename':'footer-socials-vk'}])
                  a.footer__socials__item(href="javascript:void(0)")
                    +svg([{'class': 'icon-socials-yt svg-icon', 'pathid': 'svg-socials-item', 'filename':'footer-socials-yt'}])

          .col-3.col
            .footer-box
              //- footer-copy
              .footer-copy
                .footer__company &copy; NiMax
                .footer__manufactured
                  span Сделано в
                  +svg([{'class': 'icon-manufactured svg-icon', 'pathid': 'svg-manufactured', 'filename':'manufactured_uct'}])
