// gallery
.gallery
  .shell
    .container
      .range
        #gallery-smooth
          .gallery-essence


            .row-1
              .col.col-1
                .gallery__item
                  a.gallery__full(href="img/003_gallery-img-01.jpg")
                    img(src="img/003_gallery-img-01.jpg")
              .col.col-2
                .gallery__item.gallery__item-contended.gallery-contended--right
                  .gallery__item__content.gallery__item__content--small
                    .gallery__item__title Поворотная фурнитура
                    .gallery__item__text предназначена для того, чтобы производить открытие/закрытие створки окна.
                .gallery__item.gallery__item-contended.gallery-contended--right
                  .gallery__item__content.gallery__item__content--small
                    .gallery__item__title Поворотная фурнитура
                    .gallery__item__text предназначена для того, чтобы производить открытие/закрытие створки окна.
              .col.col-3
                .gallery__item
                  a.gallery__full(href="img/003_gallery-img-02.jpg")
                    img(src="img/003_gallery-img-02.jpg")
                .gallery__item
                  a.gallery__full(href="img/003_gallery-img-03.jpg")
                    img(src="img/003_gallery-img-03.jpg")
            .row-2
              .col-s
                .gallery__item.gallery__item-contended.gallery-contended--top
                  .gallery__item__content.gallery__item__content--medium
                    .gallery__item__title Поворотная фурнитура
                    .gallery__item__text предназначена для того, чтобы производить открытие/закрытие створки окна относительно вертикальной оси. Данный, всем привычный вариант открытия, обеспечивает фурнитура двух типов: правосторонняя и левосторонняя.
                .gallery__item
                  a.gallery__full(href="img/003_gallery-img-04.jpg")
                    img(src="img/003_gallery-img-04.jpg")
                .gallery__item.gallery__item-contended.gallery-contended--left
                  .gallery__item__content.gallery__item__content--medium
                    .gallery__item__title Поворотная фурнитура
                    .gallery__item__text предназначена для того, чтобы производить открытие/закрытие створки окна относительно вертикальной оси. Данный, всем привычный вариант открытия, обеспечивает фурнитура двух типов: правосторонняя и левосторонняя.
          .gallery-essence


            .row-1
              .col.col-1
                .gallery__item
                  a.gallery__full(href="img/003_gallery-img-01.jpg")
                    img(src="img/003_gallery-img-01.jpg")
              .col.col-2
                .gallery__item.gallery__item-contended.gallery-contended--right
                  .gallery__item__content.gallery__item__content--small
                    .gallery__item__title Поворотная фурнитура
                    .gallery__item__text предназначена для того, чтобы производить открытие/закрытие створки окна.
                .gallery__item.gallery__item-contended.gallery-contended--right
                  .gallery__item__content.gallery__item__content--small
                    .gallery__item__title Поворотная фурнитура
                    .gallery__item__text предназначена для того, чтобы производить открытие/закрытие створки окна.
              .col.col-3
                .gallery__item
                  a.gallery__full(href="img/003_gallery-img-02.jpg")
                    img(src="img/003_gallery-img-02.jpg")
                .gallery__item
                  a.gallery__full(href="img/003_gallery-img-03.jpg")
                    img(src="img/003_gallery-img-03.jpg")
            .row-2
              .col-s
                .gallery__item.gallery__item-contended.gallery-contended--top
                  .gallery__item__content.gallery__item__content--medium
                    .gallery__item__title Поворотная фурнитура
                    .gallery__item__text предназначена для того, чтобы производить открытие/закрытие створки окна относительно вертикальной оси. Данный, всем привычный вариант открытия, обеспечивает фурнитура двух типов: правосторонняя и левосторонняя.
                .gallery__item
                  a.gallery__full(href="img/003_gallery-img-04.jpg")
                    img(src="img/003_gallery-img-04.jpg")
                .gallery__item.gallery__item-contended.gallery-contended--left
                  .gallery__item__content.gallery__item__content--medium
                    .gallery__item__title Поворотная фурнитура
                    .gallery__item__text предназначена для того, чтобы производить открытие/закрытие створки окна относительно вертикальной оси. Данный, всем привычный вариант открытия, обеспечивает фурнитура двух типов: правосторонняя и левосторонняя.

// gallery end
