.floating.banner
  .shell
    .container
      .floating-content

        //- floating-left
        .floating-left
          .floating-esscence-logo
            svg.floating-esscence-logo-icon#floating-esscence-logo(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 255.8 69', style='enable-background:new 0 0 255.8 69;', xml:space='preserve')
                style(type='text/css').
                  .st0{fill:#FFFFFF;}
                  .st1{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
                  .st2{fill:#8B8B8B;}
                  .st3{font-family:'Unique';}
                  .st4{font-size:55.0121px;}
                  .st5{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
                g
                  path.st0(d='M16.5,18.4v33.4l4.7-4.6V23L16.5,18.4z M46.4,23v24.2l4.7,4.6V18.4L46.4,23z M36.4,47.7V22.5h9.4l4.7-4.7H17.1\
                  l4.7,4.7h10v25.2h-10l-4.7,4.6h33.4l-4.7-4.6H36.4z M34.5,35.1l1.9,1.9v-3.7L34.5,35.1z')
                  line.st1(x1='28.7', y1='26', x2='22.2', y2='32.5')
                  line.st1(x1='29.3', y1='28.6', x2='22.8', y2='35.1')
                  line.st1(x1='30.3', y1='31.2', x2='23.8', y2='37.8')
                path.st2(d='M33.8,35.1')
                text.st0.st3.st4(transform='matrix(1 0 0 1 76.8978 53.3078)') NiMax+
                circle.st5(cx='34.5', cy='34.5', r='33.5')

        //- foatinf-mid-menu
        .foating-mid-menu
          ul.foating-mid__menu-list
            li.foating-mid__menu-item
              a.foating-mid__menu-link(href="javascript:void(0)") окна
            li.foating-mid__menu-item
              a.foating-mid__menu-link(href="javascript:void(0)") двери
            li.foating-mid__menu-item
              a.foating-mid__menu-link(href="javascript:void(0)") балконы
            li.foating-mid__menu-item
              a.foating-mid__menu-link(href="javascript:void(0)") отзывы
            li.foating-mid__menu-item
              a.foating-mid__menu-link(href="javascript:void(0)") контакты


        //- floating-right
        .floating-right
          .floating-right-essence
            //- 01
            .floating-callback
              .floating-callback__num +38 (000) 000 00 00
              a.floating-callback__btn#floating-callback(href="javascript:void(0)") заказать звонок

            //- 02
            .floating-burger-btn
              .floating-burger-btn-essence
                input#click(name='exit', type='checkbox')
                label(for='click')
                  span.floating-burger-btn-lines


  .floating-burger-essence
    ul.floating-burger-essence__menu-list
      li.floating-burger-essence__menu-item
        a.floating-burger-essence__menu-link(href="javascript:void(0)") окна
      li.floating-burger-essence__menu-item
        a.floating-burger-essence__menu-link(href="javascript:void(0)") двери
      li.floating-burger-essence__menu-item
        a.floating-burger-essence__menu-link(href="javascript:void(0)") балконы
      li.floating-burger-essence__menu-item
        a.floating-burger-essence__menu-link(href="javascript:void(0)") отзывы
      li.floating-burger-essence__menu-item
        a.floating-burger-essence__menu-link(href="javascript:void(0)") контакты


    form.floating-form
      input.floating-form-input(placeholder="Имя")
      input.floating-form-input(placeholder="Телефон")
      button.floating-form-btn(type='submit')
        span.floating-form-btn-helper
        span.floating-form-btn-text Заказать

    .floating-callback
      .floating-callback__num +38 (000) 000 00 00
      a.floating-callback__btn#floating-callback(href="javascript:void(0)") заказать звонок

.floating-burger-overlay
