.modal-content.modal-home
  .wrap
    .title Наш менеджер свяжется с вами в ближайшее время
    form.modal-content-form

      //- content itself:
      input.modal-content-input(placeholder="Имя")
      input.modal-content-input(placeholder="Телефон")


      button.modal-content-btn(type='submit')
        span.modal-content-btn-helper
        span.modal-content-btn-text Заказать


.modal-home-overlay
