@font-face {
  font-family: 'Unique';
  src: url('../fonts/Unique/Unique.eot');
  src: url('../fonts/Unique/Unique.woff2') format('woff2'),
       url('../fonts/Unique/Unique.woff') format('woff'),
       url('../fonts/Unique/Unique.ttf') format('truetype'),
       url('../fonts/Unique/Unique.svg#Unique') format('svg'),
       url('../fonts/Unique/Unique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
