@font-face {
  font-family: 'NotoSans-Bold';
  src: url('../fonts/NatoSans-NatoSerif/NotoSans-Bold.eot');
  src: url('../fonts/NatoSans-NatoSerif/NotoSans-Bold.woff2') format('woff2'),
       url('../fonts/NatoSans-NatoSerif/NotoSans-Bold.woff') format('woff'),
       url('../fonts/NatoSans-NatoSerif/NotoSans-Bold.ttf') format('truetype'),
       url('../fonts/NatoSans-NatoSerif/NotoSans-Bold.svg#NotoSans-Bold') format('svg'),
       url('../fonts/NatoSans-NatoSerif/NotoSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-BoldItalic';
  src: url('../fonts/NatoSans-NatoSerif/NotoSans-BoldItalic.eot');
  src: url('../fonts/NatoSans-NatoSerif/NotoSans-BoldItalic.woff2') format('woff2'),
       url('../fonts/NatoSans-NatoSerif/NotoSans-BoldItalic.woff') format('woff'),
       url('../fonts/NatoSans-NatoSerif/NotoSans-BoldItalic.ttf') format('truetype'),
       url('../fonts/NatoSans-NatoSerif/NotoSans-BoldItalic.svg#NotoSans-BoldItalic') format('svg'),
       url('../fonts/NatoSans-NatoSerif/NotoSans-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Italic';
  src: url('../fonts/NatoSans-NatoSerif/NotoSans-Italic.eot');
  src: url('../fonts/NatoSans-NatoSerif/NotoSans-Italic.woff2') format('woff2'),
       url('../fonts/NatoSans-NatoSerif/NotoSans-Italic.woff') format('woff'),
       url('../fonts/NatoSans-NatoSerif/NotoSans-Italic.ttf') format('truetype'),
       url('../fonts/NatoSans-NatoSerif/NotoSans-Italic.svg#NotoSans-Italic') format('svg'),
       url('../fonts/NatoSans-NatoSerif/NotoSans-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Regular';
  src: url('../fonts/NatoSans-NatoSerif/NotoSans-Regular.eot');
  src: url('../fonts/NatoSans-NatoSerif/NotoSans-Regular.woff2') format('woff2'),
       url('../fonts/NatoSans-NatoSerif/NotoSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NatoSans-NatoSerif/NotoSans.woff') format('woff'),
       url('../fonts/NatoSans-NatoSerif/NotoSans.ttf') format('truetype'),
       url('../fonts/NatoSans-NatoSerif/NotoSans.svg#NotoSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerif-Bold';
  src: url('../fonts/NatoSans-NatoSerif/NotoSerif-Bold.eot');
  src: url('../fonts/NatoSans-NatoSerif/NotoSerif-Bold.woff2') format('woff2'),
       url('../fonts/NatoSans-NatoSerif/NotoSerif-Bold.woff') format('woff'),
       url('../fonts/NatoSans-NatoSerif/NotoSerif-Bold.ttf') format('truetype'),
       url('../fonts/NatoSans-NatoSerif/NotoSerif-Bold.svg#NotoSerif-Bold') format('svg'),
       url('../fonts/NatoSans-NatoSerif/NotoSerif-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerif-BoldItalic';
  src: url('../fonts/NatoSans-NatoSerif/NotoSerif-BoldItalic.eot');
  src: url('../fonts/NatoSans-NatoSerif/NotoSerif-BoldItalic.woff2') format('woff2'),
       url('../fonts/NatoSans-NatoSerif/NotoSerif-BoldItalic.woff') format('woff'),
       url('../fonts/NatoSans-NatoSerif/NotoSerif-BoldItalic.ttf') format('truetype'),
       url('../fonts/NatoSans-NatoSerif/NotoSerif-BoldItalic.svg#NotoSerif-BoldItalic') format('svg'),
       url('../fonts/NatoSans-NatoSerif/NotoSerif-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerif-Italic';
  src: url('../fonts/NatoSans-NatoSerif/NotoSerif-Italic.eot');
  src: url('../fonts/NatoSans-NatoSerif/NotoSerif-Italic.woff2') format('woff2'),
       url('../fonts/NatoSans-NatoSerif/NotoSerif-Italic.woff') format('woff'),
       url('../fonts/NatoSans-NatoSerif/NotoSerif-Italic.ttf') format('truetype'),
       url('../fonts/NatoSans-NatoSerif/NotoSerif-Italic.svg#NotoSerif-Italic') format('svg'),
       url('../fonts/NatoSans-NatoSerif/NotoSerif-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerif-Regular';
  src: url('../fonts/NatoSans-NatoSerif/NotoSerif-Regular.eot');
  src: url('../fonts/NatoSans-NatoSerif/NotoSerif-Regular.woff2') format('woff2'),
       url('../fonts/NatoSans-NatoSerif/NotoSerif-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerif';
  src: url('../fonts/NatoSans-NatoSerif/NotoSerif.woff') format('woff'),
       url('../fonts/NatoSans-NatoSerif/NotoSerif.ttf') format('truetype'),
       url('../fonts/NatoSans-NatoSerif/NotoSerif.svg#NotoSerif') format('svg');
  font-weight: normal;
  font-style: normal;
}
