

.modal-home.modal-content{
  border: 2px solid #444341;
  background: #fff;
  width: 550px;
  min-height: 420px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1000;
  display: none;


  // outline: 4px dashed crimson;

  @media #{$mobile} {
    width: 90%;
    height: auto;
    min-height: auto;
  }
}

.modal-home > .wrap {
  padding: 70px 95px;
  @media #{$mobile} {
    padding: 30px 20px;
  }
}


.modal-home .title {
  @include font(italic, 400, 25px, 37px, 'NotoSans-Italic');
  color: #444341;
  text-align: center;
  margin-bottom: 45px;

  @media #{$mobile} {
    @include font(italic, 400, 22px, 34px, 'NotoSans-Italic');
    margin-bottom: 20px;
  }
}



.modal-home {

}



.modal-home .modal-content-form {
  // width: 550px;
  // margin: 0 auto;
  display: block;
}


.modal-home .modal-content-input {

  margin-bottom: 23px;
  padding: 20px;
  font: normal 400 14px/10px "NotoSans";
  font-size: 0.875rem;
  color: #444341;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  background: #acacac;
  background: rgba(171, 171, 171, 0.3);
  transition: .3s ease-out;

  &::placeholder {
     color: #444341;
     opacity: 1; // FIX
  }
  &::-webkit-input-placeholder {
     color: #444341;
     opacity: 1; // FIX
  }
  &::-moz-placeholder {
     color: #444341;
     opacity: 1; // FIX
  }/* Firefox 19+ */
  &:-moz-placeholder {
     color: #444341;
     opacity: 1; // FIX
  }/* Firefox 18- */
  &:-ms-input-placeholder {
     color: #444341;
     opacity: 1; // FIX
  }

}


.modal-home .modal-content-btn {
  // width: 340px;
  width: 100%;
  height: 40px;


  position: relative;
  top: -1px;
  left: 0;

  border-radius: 5px;
  @include font(normal, 400, 18px, 40px, 'NotoSans');
  text-transform: uppercase;
  letter-spacing: .8px;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: .3s ease-in-out;
  box-shadow: 0px 4px 0px 0px #95680f;
  background:#f1b100;
  // margin-top: -1px;
  user-select: none;
  cursor: pointer;

  // transition: .6s ease-out;



  &:hover {
    // background: #3a8147;

    & .modal-content-btn-helper {
      opacity: 1;
    }
  }

  &:active {
    // background: #3a8147;
    background: linear-gradient(to top, #9b6800 0%, #c89300 100%);
    // color: #444341;
    top: 0;
  }

  & .modal-content-btn-helper {
    // content: '';
    position: absolute;
    display: block;
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(to top, #9b6800 0%, #c89300 100%);
    transition: opacity 300ms linear;
  }

  & .modal-content-btn-text {
    // content: '';
    position: absolute;
    display: block;
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}



.modal-home-overlay {
  position: fixed;
  z-index: 16;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 202;

  // background-color: #120f41;
  // opacity: 0.4;
  background-color: rgba(19, 16, 66, 0.4);
  background-color: hsla(244, 62%, 16%, 0.4);

}
